openapi: 3.1.0
info:
  contact:
    email: hello@opal.dev
    name: Opal Team
    url: https://www.opal.dev/
  description: The Opal API is a RESTful API that allows you to interact with the Opal Security platform programmatically.
  title: Opal access-rules resources API
  version: '1.0'
servers:
- description: Production
  url: https://api.opal.dev/v1
tags:
- name: resources
  description: Operations related to resources
paths:
  /resources:
    get:
      summary: Get resources
      description: Returns a list of resources for your organization.
      operationId: getResources
      parameters:
      - description: The pagination cursor value.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page. Default is 200.
        example: 200
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
          maximum: 1000
        style: form
      - description: The resource type to filter by. Required when remote_id is provided.
        example: AWS_IAM_ROLE
        explode: true
        in: query
        name: resource_type_filter
        required: false
        schema:
          $ref: '#/components/schemas/ResourceTypeEnum'
        style: form
      - description: The resource ids to filter by.
        example:
        - 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        - 1b978423-db0a-4037-a4cf-f79c60cb67b3
        explode: false
        in: query
        name: resource_ids
        required: false
        schema:
          items:
            example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
            format: uuid
            type: string
          type: array
        style: form
      - description: Resource name.
        example: example-name
        explode: true
        in: query
        name: resource_name
        required: false
        schema:
          type: string
        style: form
      - description: The parent resource id to filter by.
        example:
        - 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: query
        name: parent_resource_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The ancestor resource id to filter by. Returns all resources that are descendants of the specified resource.
        example:
        - 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: query
        name: ancestor_resource_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Filter resources by their remote id. This will return all resources that have a remote id that matches the provided remote id. Note that this requires resource_type_filter to be provided.
        in: query
        name: remote_id
        required: false
        schema:
          type: string
        style: form
      - description: The IDs of the tags to filter by. Returns only resources that have any of these tags applied.
        in: query
        name: tag_ids
        required: false
        schema:
          type: array
          items:
            format: uuid
            type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResourcesList'
          description: One page worth resources associated with your organization.
      security:
      - BearerAuth: []
      tags:
      - resources
    put:
      description: Bulk updates a list of resources.
      operationId: updateResources
      requestBody:
        description: Resources to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateResourceInfoList'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResourceInfoList'
          description: The resulting updated resource infos.
      security:
      - BearerAuth: []
      tags:
      - resources
    post:
      description: Creates a resource. See [here](https://docs.opal.dev/reference/end-system-objects) for details about importing resources.
      operationId: createResource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResourceInfo'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
          description: The resource just created.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}:
    get:
      summary: Get resource by ID
      description: Retrieves a resource.
      operationId: get_resource
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          description: The requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
      security:
      - BearerAuth: []
      tags:
      - resources
    delete:
      description: Deletes a resource.
      operationId: delete_resource
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          description: The resource was successfully deleted.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}/message-channels:
    get:
      description: Gets the list of audit message channels attached to a resource.
      operationId: get_resource_message_channels
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageChannelList'
          description: The audit message channels attached to the resource.
      security:
      - BearerAuth: []
      tags:
      - resources
    put:
      description: Sets the list of audit message channels attached to a resource.
      operationId: set_resource_message_channels
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageChannelIDList'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
                  format: uuid
                  type: string
                type: array
          description: The updated audit message channel IDs for the resource.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}/visibility:
    get:
      description: Gets the visibility of this resource.
      operationId: get_resource_visibility
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisibilityInfo'
          description: The visibility info of this resource.
      security:
      - BearerAuth: []
      tags:
      - resources
    put:
      description: Sets the visibility of this resource.
      operationId: set_resource_visibility
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisibilityInfo'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisibilityInfo'
          description: The visibility info of this resource.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}/reviewers:
    get:
      description: Gets the list of owner IDs of the reviewers for a resource.
      operationId: get_resource_reviewers
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
                  format: uuid
                  type: string
                type: array
          description: The IDs of owners that are reviewers for this resource.
      security:
      - BearerAuth: []
      tags:
      - resources
    put:
      description: Sets the list of reviewers for a resource.
      operationId: set_resource_reviewers
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewerIDList'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
                  format: uuid
                  type: string
                type: array
          description: The updated IDs of owners that are reviewers for this resource
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}/reviewer-stages:
    get:
      description: Gets the list reviewer stages for a resource.
      operationId: get_resource_reviewer_stages
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                description: A list of reviewer stages.
                items:
                  $ref: '#/components/schemas/ReviewerStage'
                type: array
          description: The reviewer stages for this resource.
      security:
      - BearerAuth: []
      tags:
      - resources
    put:
      description: Sets the list of reviewer stages for a resource.
      operationId: set_resource_reviewer_stages
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewerStageList'
      responses:
        '200':
          content:
            application/json:
              schema:
                description: A list of reviewer stages.
                items:
                  $ref: '#/components/schemas/ReviewerStage'
                type: array
          description: The updated reviewer stages for this resource.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}/non-human-identities:
    get:
      description: Gets the list of non-human identities with access to this resource.
      operationId: get_resource_nhis
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Limit the number of results returned.
        example: 200
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessList'
          description: List of non-human identities with access to this resource.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}/users:
    get:
      summary: Get resource users
      description: Gets the list of users for this resource.
      operationId: get_resource_users
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Limit the number of results returned.
        example: 200
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceAccessUserList'
          description: List of users with access to this resource.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}/non-human-identities/{non_human_identity_id}:
    post:
      description: Gives a non-human identity access to this resource.
      operationId: add_resource_nhi
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The resource ID of the non-human identity to add.
        example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
        explode: false
        in: path
        name: non_human_identity_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        required: false
        content:
          application/json:
            schema:
              example:
                duration_minutes: 60
                access_level_remote_id: roles/cloudsql.instanceUser
              properties:
                duration_minutes:
                  description: The duration for which the resource can be accessed (in minutes). Use 0 to set to indefinite.
                  example: 60
                  type: integer
                  maximum: 525960
                access_level_remote_id:
                  description: The remote ID of the access level to grant. If omitted, the default access level remote ID value (empty string) is used.
                  example: roles/cloudsql.instanceUser
                  type: string
              required:
              - duration_minutes
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNHI'
          description: Details about the access that the non-human identity was granted to the resource.
      security:
      - BearerAuth: []
      tags:
      - resources
    delete:
      description: Removes a non-human identity's direct access from this resource.
      operationId: delete_resource_nhi
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The resource ID of the non-human identity to remove from this resource.
        example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
        explode: false
        in: path
        name: non_human_identity_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The remote ID of the access level for which this non-human identity has direct access. If omitted, the default access level remote ID value (empty string) is assumed.
        example: roles/cloudsql.instanceUser
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          description: This non-human identity's access was successfully removed from this resource.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}/users/{user_id}:
    post:
      description: Adds a user to this resource.
      operationId: add_resource_user
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the user to add.
        example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The duration for which the resource can be accessed (in minutes). Use 0 to set to indefinite.
        example: 60
        explode: true
        in: query
        name: duration_minutes
        required: false
        schema:
          type: integer
          maximum: 525960
        style: form
        deprecated: true
      - description: The remote ID of the access level to grant to this user. If omitted, the default access level remote ID value (empty string) is used.
        example: arn:aws:iam::590304332660:role/AdministratorAccess
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
        deprecated: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              example:
                duration_minutes: 60
                access_level_remote_id: arn:aws:iam::590304332660:role/AdministratorAccess
              properties:
                duration_minutes:
                  description: The duration for which the resource can be accessed (in minutes). Use 0 to set to indefinite.
                  example: 60
                  type: integer
                  maximum: 525960
                access_level_remote_id:
                  description: The remote ID of the access level to grant to this user. If omitted, the default access level remote ID value (empty string) is used.
                  example: arn:aws:iam::590304332660:role/AdministratorAccess
                  type: string
              required:
              - duration_minutes
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUser'
          description: The ResourceUser that was created.
      security:
      - BearerAuth: []
      tags:
      - resources
    put:
      description: Updates a user's access level or duration on this resource.
      operationId: update_resource_user
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the user whose access is being updated.
        example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
        in: path
        name: user_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              example:
                duration_minutes: 60
                access_level_remote_id: arn:aws:iam::590304332660:role/AdministratorAccess
              properties:
                duration_minutes:
                  description: The updated duration for which the resource can be accessed (in minutes). Use 0 for indefinite.
                  type: integer
                  maximum: 525960
                  example: 120
                access_level_remote_id:
                  description: The updated remote ID of the access level granted to this user.
                  type: string
                  example: arn:aws:iam::590304332660:role/ReadOnlyAccess
              required:
              - duration_minutes
      responses:
        '200':
          description: The ResourceUser was successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUser'
      security:
      - BearerAuth: []
      tags:
      - resources
    delete:
      description: Removes a user's direct access from this resource.
      operationId: delete_resource_user
      parameters:
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of a user to remove from this resource.
        example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The remote ID of the access level for which this user has direct access. If omitted, the default access level remote ID value (empty string) is assumed.
        example: arn:aws:iam::590304332660:role/AdministratorAccess
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          description: This user's access was successfully removed from this resource.
      security:
      - BearerAuth: []
      tags:
      - resources
    get:
      summary: Get resource user
      description: Returns information about a specific user's access to a resource.
      operationId: getResourceUser
      parameters:
      - description: The ID of the resource.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the user.
        example: 29827fb8-f2dd-4e80-9576-28e31e9934ac
        in: path
        name: user_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The pagination cursor value.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ResourceUser'
                  cursor:
                    type: string
                    description: Pagination cursor for the next page of results
                    example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
                  total_count:
                    type: integer
                    description: Total number of results
                    example: 120
                required:
                - data
          description: List of ResourceUser records for the user's access to the resource.
        '404':
          description: Resource or user not found.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resource-user-access-status/{resource_id}/{user_id}:
    get:
      deprecated: true
      description: Get user's access status to a resource.
      operationId: resource_user_access_status_retrieve
      parameters:
      - description: The ID of the resource.
        example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the user.
        example: 29827fb8-f2dd-4e80-9576-28e31e9934ac
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The remote ID of the access level that you wish to query for the resource. If omitted, the default access level remote ID value (empty string) is used.
        example: arn:aws:iam::590304332660:role/AdministratorAccess
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
      - description: The pagination cursor value.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page. Default is 200.
        example: 200
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
          maximum: 1000
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUserAccessStatus'
          description: The access status reflecting the user's access to the resource.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}/tags:
    get:
      description: Returns all tags applied to the resource.
      operationId: get_resource_tags
      parameters:
      - description: The ID of the resource whose tags to return.
        name: resource_id
        example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
        explode: false
        in: path
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsList'
          description: The tags applied to the resource.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}/scoped-role-permissions:
    get:
      description: Returns all the scoped role permissions that apply to the given resource. Only OPAL_SCOPED_ROLE resource type supports this field.
      operationId: get_resource_scoped_role_permissions
      parameters:
      - description: The ID of the resource whose scoped role permissions belong to.
        name: resource_id
        example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
        explode: false
        in: path
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopedRolePermissionList'
          description: The role permissions that this Opal Scoped Role has.
      security:
      - BearerAuth: []
      tags:
      - resources
    put:
      description: Sets all the scoped role permissions on an OPAL_SCOPED_ROLE resource.
      operationId: set_resource_scoped_role_permissions
      parameters:
      - description: The ID of the resource whose scoped role permissions belong to. Must be of OPAL_SCOPED_ROLE resource type.
        name: resource_id
        example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
        explode: false
        in: path
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopedRolePermissionList'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopedRolePermissionList'
          description: The role permissions that this Opal Scoped Role has.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/users/{user_id}:
    get:
      description: Gets the list of resources for this user.
      operationId: get_user_resources
      parameters:
      - description: The ID of the user.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Limit the number of results returned.
        example: 200
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The pagination cursor value.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Include user's access to unmanaged resources.
        example: false
        explode: true
        in: query
        name: include_unmanaged
        required: false
        schema:
          type: boolean
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceAccessUserList'
          description: List of resources user has access to.
      security:
      - BearerAuth: []
      tags:
      - resources
  /resources/{resource_id}/groups:
    get:
      description: Returns a list of groups that grant access to the resource
      operationId: get_resource_groups
      parameters:
      - description: The ID of the resource that the groups grant access to.
        name: resource_id
        example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
        explode: false
        in: path
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResourceList'
          description: The groups that grant access to the resource.
      security:
      - BearerAuth: []
      tags:
      - resources
components:
  schemas:
    ResourceAccessLevel:
      description: '# Access Level Object

        ### Description

        The `AccessLevel` object is used to represent the level of access that a principal has. The "default" access

        level is a `AccessLevel` object whose fields are all empty strings.


        ### Usage Example

        View the `AccessLevel` of a resource/user or resource/group pair to see the level of access granted to the resource.'
      example:
        access_level_name: AdminRole
        access_level_remote_id: arn:aws:iam::590304332660:role/AdministratorAccess
      properties:
        access_level_name:
          description: The human-readable name of the access level.
          example: AdminRole
          type: string
        access_level_remote_id:
          description: The machine-readable identifier of the access level.
          example: arn:aws:iam::590304332660:role/AdministratorAccess
          type: string
      required:
      - access_level_name
      - access_level_remote_id
      type: object
    ResourceAccessUserList:
      example:
        results:
        - full_name: Jake Barnes
          user_id: 29827fb8-f2dd-4e80-9576-28e31e9934ac
          resource_id: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          expiration_date: 2022-01-23 04:56:07+00:00
          email: jake@company.dev
          has_direct_access: true
          num_access_paths: 2
        - full_name: Brett Ashley
          user_id: 7646aa9a-e2ee-4eb5-8c62-91f29038a373
          resource_id: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          expiration_date: 2022-02-03 12:33:02+00:00
          email: brett@company.dev
          has_direct_access: true
          num_access_paths: 3
      properties:
        next:
          description: The cursor with which to continue pagination if additional result pages exist.
          example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
          nullable: true
          type: string
        previous:
          description: The cursor used to obtain the current result page.
          example: cj1sZXdwd2VycWVtY29zZnNkc2NzUWxNMEUxTXk0ME16UXpNallsTWtJ
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/ResourceAccessUser'
          type: array
      type: object
    Resource:
      description: '# Resource Object

        ### Description

        The `Resource` object is used to represent a resource.


        ### Usage Example

        Update from the `UPDATE Resources` endpoint.'
      example:
        resource_id: f454d283-ca87-4a8a-bdbb-df212eca5353
        app_id: b5a5ca27-0ea3-4d86-9199-2126d57d1fbd
        description: This resource represents AWS IAM role "SupportUser".
        admin_owner_id: 7c86c85d-0651-43e2-a748-d69d658418e8
        remote_id: 318038399
        remote_name: repo-name
        max_duration: 120
        require_manager_approval: false
        require_support_ticket: false
        parent_resource_id: f454d283-ca67-4a8a-bdbb-df212eca5345
        ancestor_resource_ids:
        - f454d283-ca67-4a8a-bdbb-df212eca5345
        descendant_resource_ids:
        - f454d283-ca67-4a8a-bdbb-df212eca5345
      properties:
        resource_id:
          description: The ID of the resource.
          example: f454d283-ca87-4a8a-bdbb-df212eca5353
          format: uuid
          type: string
        app_id:
          description: The ID of the app.
          example: b5a5ca27-0ea3-4d86-9199-2126d57d1fbd
          format: uuid
          type: string
        name:
          description: The name of the resource.
          example: mongo-db-prod
          type: string
        description:
          description: A description of the resource.
          example: This resource represents AWS IAM role "SupportUser".
          type: string
        admin_owner_id:
          description: The ID of the owner of the resource.
          example: 7c86c85d-0651-43e2-a748-d69d658418e8
          format: uuid
          type: string
        remote_resource_id:
          description: The ID of the resource on the remote system.
          example: 318038399
          type: string
        remote_resource_name:
          description: The name of the resource on the remote system.
          example: repo-name
          type: string
        resource_type:
          $ref: '#/components/schemas/ResourceTypeEnum'
        max_duration:
          description: The maximum duration for which the resource can be requested (in minutes).
          type: integer
          example: 120
        recommended_duration:
          description: The recommended duration for which the resource should be requested (in minutes). -1 represents an indefinite duration.
          type: integer
          example: 120
        extensions_duration_in_minutes:
          description: The duration for which access can be extended (in minutes). Set to 0 to disable extensions. When > 0, extensions are enabled for the specified duration.
          type: integer
          example: 120
        require_manager_approval:
          description: A bool representing whether or not access requests to the resource require manager approval.
          example: false
          type: boolean
          deprecated: true
        require_support_ticket:
          description: A bool representing whether or not access requests to the resource require an access ticket.
          example: false
          type: boolean
        require_mfa_to_approve:
          description: A bool representing whether or not to require MFA for reviewers to approve requests for this resource.
          example: false
          type: boolean
        require_mfa_to_request:
          description: A bool representing whether or not to require MFA for requesting access to this resource.
          example: false
          type: boolean
        require_mfa_to_connect:
          description: A bool representing whether or not to require MFA to connect to this resource.
          example: false
          type: boolean
        auto_approval:
          description: A bool representing whether or not to automatically approve requests to this resource.
          example: false
          type: boolean
        request_template_id:
          description: The ID of the associated request template.
          example: 06851574-e50d-40ca-8c78-f72ae6ab4304
          format: uuid
          type: string
        is_requestable:
          description: A bool representing whether or not to allow access requests to this resource.
          example: false
          type: boolean
        parent_resource_id:
          description: The ID of the parent resource.
          example: 06851574-e50d-40ca-8c78-f72ae6ab4305
          format: uuid
          type: string
        configuration_template_id:
          description: The ID of the associated configuration template.
          example: 06851574-e50d-40ca-8c78-f72ae6ab4304
          format: uuid
          type: string
        request_configurations:
          type: array
          items:
            $ref: '#/components/schemas/RequestConfiguration'
          description: A list of configurations for requests to this resource.
        request_configuration_list:
          description: A list of configurations for requests to this resource. Deprecated in favor of `request_configurations`.
          deprecated: true
          items:
            $ref: '#/components/schemas/RequestConfiguration'
          type: array
        ticket_propagation:
          $ref: '#/components/schemas/TicketPropagationConfiguration'
        custom_request_notification:
          description: Custom request notification sent upon request approval.
          type: string
          maxLength: 800
          nullable: true
        risk_sensitivity:
          description: The risk sensitivity level for the resource. When an override is set, this field will match that.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/RiskSensitivityEnum'
        risk_sensitivity_override:
          allOf:
          - $ref: '#/components/schemas/RiskSensitivityEnum'
        metadata:
          description: JSON metadata about the remote resource. Only set for items linked to remote systems. See [this guide](https://docs.opal.dev/reference/end-system-objects) for details.
          deprecated: true
          example: "{\n  \"okta_directory_role\":\n    {\n      \"role_id\": \"SUPER_ADMIN-b52aa037-4a35-4ac3-9350-f6260fd12345\",\n      \"role_type\": \"SUPER_ADMIN\",\n    },\n}"
          type: string
        remote_info:
          $ref: '#/components/schemas/ResourceRemoteInfo'
        ancestor_resource_ids:
          description: List of resource IDs that are ancestors of this resource.
          type: array
          items:
            format: uuid
            type: string
          example:
          - f454d283-ca67-4a8a-bdbb-df212eca5345
          - f454d283-ca67-4a8a-bdbb-df212eca5346
        descendant_resource_ids:
          description: List of resource IDs that are descendants of this resource.
          type: array
          items:
            format: uuid
            type: string
          example:
          - f454d283-ca67-4a8a-bdbb-df212eca5347
          - f454d283-ca67-4a8a-bdbb-df212eca5348
        last_successful_sync:
          readOnly: true
          description: Information about the last successful sync of this resource.
          $ref: '#/components/schemas/SyncTask'
      required:
      - resource_id
      type: object
    VisibilityInfo:
      description: Visibility infomation of an entity.
      example:
        visibility: LIMITED
        visibility_group_ids:
        - 7870617d-e72a-47f5-a84c-693817ab4567
        - 1520617d-e72a-47f5-a84c-693817ab48ad2
      properties:
        visibility:
          $ref: '#/components/schemas/VisibilityTypeEnum'
        visibility_group_ids:
          items:
            type: string
            format: uuid
          type: array
      type: object
      required:
      - visibility
    RDSEngineEnum:
      type: string
      description: The database engine for the RDS instance.
      enum:
      - MYSQL
      - POSTGRESQL
    RequestConfiguration:
      description: '# Request Configuration Object

        ### Description

        The `RequestConfiguration` object is used to represent a request configuration.


        ### Usage Example

        Returned from the `GET Request Configurations` endpoint.'
      example:
        request_configuration_id: 7c86c85d-0651-43e2-a748-d69d658418e8
        organization_id: w86c85d-0651-43e2-a748-d69d658418e8
        created_at: 2021-01-06 20:00:00+00:00
        updated_at: 2021-01-06 20:00:00+00:00
        condition:
          group_id: 1b978423-db0a-4037-a4cf-f79c60cb67b3
        allow_requests: true
        auto_approval: false
        require_mfa_to_request: false
        max_duration_minutes: 120
        recommended_duration_minutes: 120
        require_support_ticket: false
        reviewer_stages:
        - reviewer_stage_id: 7c86c85d-0651-43e2-a748-d69d658418e8
          owner_ids:
          - 37cb7e41-12ba-46da-92ff-030abe0450b1
          - 37cb7e41-12ba-46da-92ff-030abe0450b2
          stage: 1
        priority: 1
      type: object
      properties:
        condition:
          description: The condition for the request configuration.
          $ref: '#/components/schemas/Condition'
        allow_requests:
          description: A bool representing whether or not to allow requests for this resource.
          example: true
          type: boolean
        auto_approval:
          description: A bool representing whether or not to automatically approve requests for this resource.
          example: false
          type: boolean
        require_mfa_to_request:
          description: A bool representing whether or not to require MFA for requesting access to this resource.
          example: false
          type: boolean
        max_duration_minutes:
          description: The maximum duration for which the resource can be requested (in minutes).
          type: integer
          example: 120
        recommended_duration_minutes:
          description: The recommended duration for which the resource should be requested (in minutes). -1 represents an indefinite duration.
          type: integer
          example: 120
        require_support_ticket:
          description: A bool representing whether or not access requests to the resource require an access ticket.
          example: false
          type: boolean
        extensions_duration_in_minutes:
          description: The duration for which access can be extended (in minutes). Set to 0 to disable extensions. When > 0, extensions are enabled for the specified duration.
          type: integer
          example: 120
        request_template_id:
          description: The ID of the associated request template.
          example: 06851574-e50d-40ca-8c78-f72ae6ab4304
          format: uuid
          type: string
        reviewer_stages:
          description: The list of reviewer stages for the request configuration.
          items:
            $ref: '#/components/schemas/ReviewerStage'
          type: array
        priority:
          description: The priority of the request configuration.
          example: 1
          type: integer
      required:
      - organization_id
      - allow_requests
      - auto_approval
      - require_mfa_to_request
      - require_support_ticket
      - priority
    CreateResourceInfo:
      description: '# CreateResourceInfo Object

        ### Description

        The `CreateResourceInfo` object is used to store creation info for a resource.


        ### Usage Example

        Use in the `POST Resources` endpoint.'
      example:
        remote_resource_id: API_ACCESS_MANAGEMENT_ADMIN-51d203da-313a-4fd9-8fcf-420ce6312345
        name: Okta Engineering Super Admin
        description: Okta super admin role.
        resource_type: OKTA_ROLE
        metadata: "{\n  \"okta_directory_role\":\n    {\n      \"role_id\": \"SUPER_ADMIN-b52aa037-4a35-4ac3-9350-f6260fd12345\",\n      \"role_type\": \"SUPER_ADMIN\",\n    },\n}"
        app_id: f454d283-ca87-4a8a-bdbb-df212eca5353
      properties:
        name:
          description: The name of the remote resource.
          example: mongo-db-prod
          type: string
        description:
          description: A description of the remote resource.
          example: Engineering team Okta role.
          type: string
        resource_type:
          $ref: '#/components/schemas/ResourceTypeEnum'
        app_id:
          description: The ID of the app for the resource.
          example: f454d283-ca87-4a8a-bdbb-df212eca5353
          format: uuid
          type: string
        remote_info:
          $ref: '#/components/schemas/ResourceRemoteInfo'
        remote_resource_id:
          deprecated: true
          description: Deprecated - use remote_info instead. The ID of the resource on the remote system. Include only for items linked to remote systems. See [this guide](https://docs.opal.dev/reference/end-system-objects) for details on how to specify this field.
          example: API_ACCESS_MANAGEMENT_ADMIN-51d203da-313a-4fd9-8fcf-420ce6312345
          type: string
        metadata:
          deprecated: true
          description: "Deprecated - use remote_info instead.\n\nJSON metadata about the remote resource. Include only for items linked to remote systems. See [this guide](https://docs.opal.dev/reference/end-system-objects) for details on how to specify this field.\nThe required format is dependent on resource_type and should have the following schema:\n<style type=\"text/css\">\ncode {max-height:300px !important}\n</style>\n```json\n{\n  \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n  \"title\": \"Resource Metadata\",\n  \"properties\": {\n    \"aws_ec2_instance\": {\n      \"properties\": {\n        \"instance_id\": {\n          \"type\": \"string\"\n        },\n        \"region\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"instance_id\", \"region\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"AWS EC2 Instance\"\n    },\n    \"aws_eks_cluster\": {\n      \"properties\": {\n        \"cluster_name\": {\n          \"type\": \"string\"\n        },\n        \"cluster_region\": {\n          \"type\": \"string\"\n        },\n        \"cluster_arn\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"cluster_name\", \"cluster_region\", \"cluster_arn\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"AWS EKS Cluster\"\n    },\n    \"aws_rds_instance\": {\n      \"properties\": {\n        \"instance_id\": {\n          \"type\": \"string\"\n        },\n        \"engine\": {\n          \"type\": \"string\"\n        },\n        \"region\": {\n          \"type\": \"string\"\n        },\n        \"resource_id\": {\n          \"type\": \"string\"\n        },\n        \"database_name\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\n        \"instance_id\",\n        \"engine\",\n        \"region\",\n        \"resource_id\",\n        \"database_name\"\n      ],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"AWS RDS Instance\"\n    },\n    \"aws_role\": {\n      \"properties\": {\n        \"arn\": {\n          \"type\": \"string\"\n        },\n        \"name\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"arn\", \"name\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"AWS Role\"\n    },\n    \"gcp_bucket\": {\n      \"properties\": {\n        \"bucket_id\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"bucket_id\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"GCP Bucket\"\n    },\n    \"gcp_compute_instance\": {\n      \"properties\": {\n        \"instance_id\": {\n          \"type\": \"string\"\n        },\n        \"project_id\": {\n          \"type\": \"string\"\n        },\n        \"zone\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"instance_id\", \"project_id\", \"zone\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"GCP Compute Instance\"\n    },\n    \"gcp_folder\": {\n      \"properties\": {\n        \"folder_id\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"folder_id\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"GCP Folder\"\n    },\n    \"gcp_gke_cluster\": {\n      \"properties\": {\n        \"cluster_name\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"cluster_name\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"GCP GKE Cluster\"\n    },\n    \"gcp_project\": {\n      \"properties\": {\n        \"project_id\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"project_id\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"GCP Project\"\n    },\n    \"gcp_sql_instance\": {\n      \"properties\": {\n        \"instance_id\": {\n          \"type\": \"string\"\n        },\n        \"project_id\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"instance_id\", \"project_id\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"GCP SQL Instance\"\n    },\n    \"git_hub_repo\": {\n      \"properties\": {\n        \"org_name\": {\n          \"type\": \"string\"\n        },\n        \"repo_name\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"org_name\", \"repo_name\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"GitHub Repo\"\n    },\n    \"okta_directory_app\": {\n      \"properties\": {\n        \"app_id\": {\n          \"type\": \"string\"\n        },\n        \"logo_url\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"app_id\", \"logo_url\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"Okta Directory App\"\n    },\n    \"okta_directory_role\": {\n      \"properties\": {\n        \"role_type\": {\n          \"type\": \"string\"\n        },\n        \"role_id\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"role_type\", \"role_id\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"Okta Directory Role\"\n    },\n    \"salesforce_profile\": {\n      \"properties\": {\n        \"user_license\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"user_license\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"Salesforce Profile\"\n    }\n  },\n  \"additionalProperties\": false,\n  \"minProperties\": 1,\n  \"maxProperties\": 1,\n  \"type\": \"object\"\n}\n```"
          example: "{\n  \"okta_directory_role\":\n    {\n      \"role_id\": \"SUPER_ADMIN-b52aa037-4a35-4ac3-9350-f6260fd12345\",\n      \"role_type\": \"SUPER_ADMIN\",\n    },\n}"
          type: string
        custom_request_notification:
          description: Custom request notification sent upon request approval.
          type: string
          maxLength: 800
          nullable: true
          example: Check your email to register your account.
        risk_sensitivity_override:
          allOf:
          - $ref: '#/components/schemas/RiskSensitivityEnum'
      required:
      - name
      - resource_type
      - app_id
      type: object
    EntityTypeEnum:
      description: The type of an entity.
      enum:
      - GROUP
      - RESOURCE
      - USER
      example: GROUP
      type: string
    RolePermissionTargetTypeEnum:
      description: The type of the target for the role permission.
      enum:
      - RESOURCE
      - CONNECTION
      - GROUP
      - BUNDLE
      - USER
      - ACCESS_REVIEW
      - OWNER
      example: RESOURCE
      type: string
    Tag:
      description: '# Tag Object

        ### Description

        The `Tag` object is used to represent a tag.


        ### Usage Example

        Get tags from the `GET Tag` endpoint.'
      example:
        tag_id: f290a738-5f9f-43c2-ad67-fa31ff0eb946
        created_at: 2022-01-23 04:56:07+00:00
        updated_at: 2022-02-23 01:34:07+00:00
        user_creator_id: d4a7d928-783e-4599-8ec6-088d635a5bcc
        key: database-name
        value: redis_db
      properties:
        tag_id:
          description: The ID of the tag.
          example: f290a738-5f9f-43c2-ad67-fa31ff0eb946
          format: uuid
          type: string
        created_at:
          description: The date the tag was created.
          example: 2022-01-23 04:56:07+00:00
          format: date-time
          type: string
        updated_at:
          description: The date the tag was last updated.
          example: 2022-02-23 01:34:07+00:00
          format: date-time
          type: string
        user_creator_id:
          description: The ID of the user that created the tag.
          example: d4a7d928-783e-4599-8ec6-088d635a5bcc
          format: uuid
          type: string
        key:
          description: The key of the tag.
          example: database-name
          type: string
        value:
          description: The value of the tag.
          example: redis_db
          type: string
      type: object
      required:
      - tag_id
    MessageChannelIDList:
      description: A list of message channel IDs.
      example:
        message_channel_ids:
        - 7870617d-e72a-47f5-a84c-693817ab4567
        - 1520617d-e72a-47f5-a84c-693817ab48ad2
      properties:
        message_channel_ids:
          items:
            type: string
            format: uuid
          type: array
      type: object
      required:
      - message_channel_ids
    VisibilityTypeEnum:
      description: The visibility level of the entity.
      enum:
      - GLOBAL
      - LIMITED
      example: GLOBAL
      type: string
    ResourceNHI:
      description: '# Resource Non-Human Identity Direct Access Object

        ### Description

        This object is used to represent a non-human identity with direct access to a resource.'
      example:
        non_human_identity_id: 29827fb8-f2dd-4e80-9576-28e31e9934ac
        resource_id: 1b978423-db0a-4037-a4cf-f79c60cb67b3
        expiration_date: 2022-01-23 04:56:07+00:00
      properties:
        resource_id:
          description: The ID of the resource.
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          format: uuid
          type: string
        non_human_identity_id:
          description: The resource ID of the non-human identity.
          example: 29827fb8-f2dd-4e80-9576-28e31e9934ac
          format: uuid
          type: string
        access_level:
          $ref: '#/components/schemas/ResourceAccessLevel'
        expiration_date:
          description: The day and time the non-human identity's access will expire.
          example: 2022-01-23 04:56:07+00:00
          format: date-time
          nullable: true
          type: string
      required:
      - resource_id
      - non_human_identity_id
      type: object
    TicketPropagationConfiguration:
      description: Configuration for ticket propagation, when enabled, a ticket will be created for access changes related to the users in this resource.
      type: object
      properties:
        enabled_on_grant:
          type: boolean
        enabled_on_revocation:
          type: boolean
        ticket_provider:
          $ref: '#/components/schemas/TicketingProviderEnum'
        ticket_project_id:
          type: string
      required:
      - enabled_on_grant
      - enabled_on_revocation
    UpdateResourceInfo:
      description: '# UpdateResourceInfo Object

        ### Description

        The `UpdateResourceInfo` object is used as an input to the UpdateResource API.'
      example:
        resource_id: f454d283-ca87-4a8a-bdbb-df212eca5353
        name: my-mongo-db
        description: This resource represents AWS IAM role "SupportUser".
        admin_owner_id: 7c86c85d-0651-43e2-a748-d69d658418e8
        max_duration: 120
        require_manager_approval: false
        require_support_ticket: false
      properties:
        resource_id:
          description: The ID of the resource.
          example: f454d283-ca87-4a8a-bdbb-df212eca5353
          format: uuid
          type: string
        name:
          description: The name of the resource.
          example: my-mongo-db
          type: string
        description:
          description: A description of the resource.
          example: This resource represents AWS IAM role "SupportUser".
          type: string
        admin_owner_id:
          description: The ID of the owner of the resource.
          example: 7c86c85d-0651-43e2-a748-d69d658418e8
          format: uuid
          type: string
        max_duration:
          description: The maximum duration for which the resource can be requested (in minutes). Use -1 to set to indefinite. Deprecated in favor of `request_configurations`.
          type: integer
          example: 120
          deprecated: true
        recommended_duration:
          description: The recommended duration for which the resource should be requested (in minutes). Will be the default value in a request. Use -1 to set to indefinite and 0 to unset. Deprecated in favor of `request_configurations`.
          type: integer
          example: 120
          deprecated: true
        require_manager_approval:
          description: A bool representing whether or not access requests to the resource require manager approval.
          example: false
          type: boolean
          deprecated: true
        require_support_ticket:
          description: A bool representing whether or not access requests to the resource require an access ticket. Deprecated in favor of `request_configurations`.
          example: false
          type: boolean
          deprecated: true
        folder_id:
          description: The ID of the folder that the resource is located in.
          example: e27cb7b0-98e2-4555-9916-9e6d8ca6b079
          format: uuid
          type: string
          deprecated: true
        require_mfa_to_approve:
          description: A bool representing whether or not to require MFA for reviewers to approve requests for this resource.
          example: false
          type: boolean
        require_mfa_to_request:
          description: A bool representing whether or not to require MFA for requesting access to this resource. Deprecated in favor of `request_configurations`.
          example: false
          type: boolean
          deprecated: true
        require_mfa_to_connect:
          description: A bool representing whether or not to require MFA to connect to this resource.
          example: false
          type: boolean
        auto_approval:
          description: A bool representing whether or not to automatically approve requests to this resource. Deprecated in favor of `request_configurations`.
          example: false
          type: boolean
          deprecated: true
        ticket_propagation:
          $ref: '#/components/schemas/TicketPropagationConfiguration'
        custom_request_notification:
          description: Custom request notification sent upon request approval.
          type: string
          maxLength: 800
          nullable: true
          example: Check your email to register your account.
        risk_sensitivity_override:
          allOf:
          - $ref: '#/components/schemas/RiskSensitivityEnum'
        configuration_template_id:
          description: The ID of the associated configuration template.
          example: 06851574-e50d-40ca-8c78-f72ae6ab4304
          format: uuid
          type: string
        request_template_id:
          description: The ID of the associated request template. Deprecated in favor of `request_configurations`.
          example: 06851574-e50d-40ca-8c78-f72ae6ab4304
          format: uuid
          type: string
          deprecated: true
        is_requestable:
          description: A bool representing whether or not to allow access requests to this resource. Deprecated in favor of `request_configurations`.
          example: false
          type: boolean
          deprecated: true
        extensions_duration_in_minutes:
          description: The duration for which access can be extended (in minutes). Deprecated, set the extension duration in the request_configuration you want it to apply to.
          type: integer
          example: 120
          deprecated: true
        parent_resource_id:
          description: The ID of the parent resource.
          example: f454d283-ca67-4a8a-bdbb-df212eca5345
          format: uuid
          type: string
          nullable: true
        request_configurations:
          type: array
          items:
            $ref: '#/components/schemas/RequestConfiguration'
          description: A list of configurations for requests to this resource. If not provided, the default request configuration will be used.
        request_configuration_list:
          description: A list of configurations for requests to this resource. If not provided, the default request configuration will be used. Deprecated in favor of `request_configurations`.
          $ref: '#/components/schemas/CreateRequestConfigurationInfoList'
          deprecated: true
          example:
            request_configurations:
            - request_configuration_id: 7c86c85d-0651-43e2-a748-d69d658418e8
              organization_id: w86c85d-0651-43e2-a748-d69d658418e8
              condition: null
              allow_requests: true
              auto_approval: false
              require_mfa_to_request: false
              max_duration_minutes: 120
              recommended_duration_minutes: 120
              require_support_ticket: false
              reviewer_stages:
              - reviewer_stage_id: 7c86c85d-0651-43e2-a748-d69d658418e8
                owner_ids:
                - 37cb7e41-12ba-46da-92ff-030abe0450b1
                - 37cb7e41-12ba-46da-92ff-030abe0450b2
                stage: 1
              priority: 0
            - request_configuration_id: 7c86c85d-0651-43e2-a748-d69d658418e9
              organization_id: w86c85d-0651-43e2-a748-d69d658418e8
              condition:
                group_id: 1b978423-db0a-4037-a4cf-f79c60cb67b4
              allow_requests: true
              auto_approval: false
              require_mfa_to_request: false
              max_duration_minutes: 120
              recommended_duration_minutes: 120
              require_support_ticket: false
              reviewer_stages:
              - reviewer_stage_id: 7c86c85d-0651-43e2-a748-d69d658418e8
                owner_ids:
                - 37cb7e41-12ba-46da-92ff-030abe0450b1
                - 37cb7e41-12ba-46da-92ff-030abe0450b2
                stage: 1
              priority: 1
      required:
      - resource_id
      type: object
    MessageChannel:
      description: '# MessageChannel Object

        ### Description

        The `MessageChannel` object is used to represent a message channel.


        ### Usage Example

        Update a groups message channel from the `UPDATE Groups` endpoint.'
      example:
        message_channel_id: 6670617d-e72a-47f5-a84c-693817ab4860
        third_party_provider: SLACK
        remote_id: C03FJR97276
        name: api-team-audit-channel
        is_private: false
      properties:
        message_channel_id:
          description: The ID of the message channel.
          example: 6670617d-e72a-47f5-a84c-693817ab4860
          format: uuid
          type: string
        third_party_provider:
          $ref: '#/components/schemas/MessageChannelProviderEnum'
        remote_id:
          description: The remote ID of the message channel
          example: C03FJR97276
          type: string
        name:
          description: The name of the message channel.
          example: api-team-audit-channel
          type: string
        is_private:
          description: A bool representing whether or not the message channel is private.
          example: false
          type: boolean
      type: object
      required:
      - message_channel_id
    ResourceAccessUser:
      description: '# Resource Access User Object

        ### Description

        The `ResourceAccessUser` object is used to represent a user with access to a resource, either directly or indirectly through group(s).


        ### Usage Example

        Fetch from the `LIST ResourceUsers` endpoint.'
      example:
        full_name: Jake Barnes
        user_id: 29827fb8-f2dd-4e80-9576-28e31e9934ac
        resource_id: 1b978423-db0a-4037-a4cf-f79c60cb67b3
        expiration_date: 2022-01-23 04:56:07+00:00
        email: jake@company.dev
      properties:
        resource_id:
          description: The ID of the resource.
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          format: uuid
          type: string
        resource_name:
          description: The name of the resource.
          example: AdministratorAccess
          type: string
        description:
          description: The description of the resource.
          example: Full access to all resources and settings.
          type: string
        user_id:
          description: The ID of the user.
          example: 29827fb8-f2dd-4e80-9576-28e31e9934ac
          format: uuid
          type: string
        access_level:
          $ref: '#/components/schemas/ResourceAccessLevel'
        full_name:
          description: The user's full name.
          example: Jake Barnes
          type: string
        email:
          description: The user's email.
          example: jake@company.dev
          type: string
        expiration_date:
          description: The day and time the user's access will expire.
          example: 2022-01-23 04:56:07+00:00
          format: date-time
          nullable: true
          type: string
        has_direct_access:
          description: The user has direct access to this resources (vs. indirectly, like through a group).
          example: true
          type: boolean
        num_access_paths:
          description: The number of ways in which the user has access through this resource (directly and indirectly).
          example: 3
          format: int32
          type: integer
        propagation_status:
          $ref: '#/components/schemas/PropagationStatus'
      required:
      - email
      - full_name
      - resource_id
      - user_id
      - access_level
      - has_direct_access
      - num_access_paths
      type: object
    SyncTask:
      type: object
      description: Represents a sync task that has been completed, either successfully or with errors.
      properties:
        id:
          description: The ID of the sync task.
          example: 7c86c85d-0651-43e2-a748-d69d658418e8
          format: uuid
          type: string
        completed_at:
          description: The time when the sync task was completed.
          example: 2023-10-01 12:00:00+00:00
          type: string
          format: date-time
      required:
      - id
      - completed_at
      example:
        id: 7c86c85d-0651-43e2-a748-d69d658418e8
        completed_at: 2023-10-01 12:00:00+00:00
    ScopedRolePermissionList:
      example:
        permissions:
        - target_ids:
          - a381e7a3-e5e0-4c48-b1d6-4ccb4c191bc1
          - 8294e9c9-deb6-48e9-9c99-da2a1e04a87f
          target_type: RESOURCE
          permission_name: READ
      properties:
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/ScopedRolePermission'
      type: object
      required:
      - permissions
    UpdateResourceInfoList:
      example:
        resources:
        - resource_id: f454d283-ca87-4a8a-bdbb-df212eca5353
          name: my-mongo-db
          description: This resource represents AWS IAM role "SupportUser".
          admin_owner_id: 7c86c85d-0651-43e2-a748-d69d658418e8
          max_duration: 120
          require_manager_approval: false
          require_support_ticket: false
        - resource_id: 99d0b81d-14be-4cf6-bd27-348b4af1d11b
          name: Admin Role
          description: This resource represents GCP project "app-demo".
          admin_owner_id: 4220bc12-ab8a-4b5d-be7b-f6bbcf9159f3
          max_duration: 360
          require_manager_approval: false
          require_support_ticket: true
      properties:
        resources:
          description: A list of resources with information to update.
          items:
            $ref: '#/components/schemas/UpdateResourceInfo'
          type: array
      type: object
      required:
      - resources
    GroupResourceList:
      example:
        group_resources:
        - group_id: 7870617d-e72a-47f5-a84c-693817ab4567
          resource_id: 1520617d-e72a-47f5-a84c-693817ab48ad2
          access_level_remote_id: ''
        - group_id: 50333e67-73ce-47ab-b049-d8abcd45f7a1
          resource_id: 6f99639b-7928-4043-8184-47cbc6766145
          access_level_remote_id: write
      properties:
        group_resources:
          items:
            $ref: '#/components/schemas/GroupResource'
          type: array
      type: object
      required:
      - group_resources
    ResourceUser:
      description: '# Resource User Object

        ### Description

        The `ResourceUser` object is used to represent a user with direct access to a resource.'
      example:
        full_name: Jake Barnes
        user_id: 29827fb8-f2dd-4e80-9576-28e31e9934ac
        resource_id: 1b978423-db0a-4037-a4cf-f79c60cb67b3
        expiration_date: 2022-01-23 04:56:07+00:00
        email: jake@company.dev
      properties:
        resource_id:
          description: The ID of the resource.
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          format: uuid
          type: string
        user_id:
          description: The ID of the user.
          example: 29827fb8-f2dd-4e80-9576-28e31e9934ac
          format: uuid
          type: string
        access_level:
          $ref: '#/components/schemas/ResourceAccessLevel'
        full_name:
          description: The user's full name.
          example: Jake Barnes
          type: string
        email:
          description: The user's email.
          example: jake@company.dev
          type: string
        expiration_date:
          description: The day and time the user's access will expire.
          example: 2022-01-23 04:56:07+00:00
          format: date-time
          nullable: true
          type: string
      required:
      - email
      - full_name
      - resource_id
      - user_id
      - access_level
      type: object
    MessageChannelProviderEnum:
      description: The third party provider of the message channel.
      enum:
      - SLACK
      example: SLACK
      type: string
    AccessList:
      example:
        results:
        - principal_id: 74908af0-9383-4feb-b7ea-8b305d737338
          principal_type: RESOURCE
          entity_id: db04925a-635d-4764-870e-500b9b035c8e
          entity_type: RESOURCE
          expiration_date: 2022-01-23 04:56:07+00:00
          has_direct_access: true
          num_access_paths: 3
        - principal_id: d940df34-726a-4403-864e-16cb2a0d6793
          principal_type: RESOURCE
          entity_id: c26cd16c-a3fa-4b82-96b1-32177f8b8f59
          entity_type: RESOURCE
          expiration_date: 2022-01-23 04:56:07+00:00
          has_direct_access: true
          num_access_paths: 3
      properties:
        results:
          items:
            $ref: '#/components/schemas/Access'
          type: array
      type: object
    ReviewerIDList:
      description: A list of reviewer IDs.
      example:
        reviewer_ids:
        - 7870617d-e72a-47f5-a84c-693817ab4567
        - 1520617d-e72a-47f5-a84c-693817ab48ad2
      properties:
        reviewer_ids:
          items:
            type: string
            format: uuid
          type: array
      type: object
      required:
      - reviewer_ids
    Access:
      description: '# Access Object

        ### Description

        The `Access` object is used to represent a principal''s access to an entity, either directly or inherited.


        ### Usage Example

        Fetch from the `LIST ResourceNonHumanIdentities` endpoint.'
      example:
        principal_id: 29827fb8-f2dd-4e80-9576-28e31e9934ac
        principal_type: RESOURCE
        entity_id: 1b978423-db0a-4037-a4cf-f79c60cb67b3
        entity_type: RESOURCE
        expiration_date: 2022-01-23 04:56:07+00:00
        has_direct_access: true
        num_access_paths: 3
      properties:
        principal_id:
          description: The ID of the principal with access.
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          format: uuid
          type: string
        principal_type:
          $ref: '#/components/schemas/EntityTypeEnum'
        entity_id:
          description: The ID of the entity being accessed.
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          format: uuid
          type: string
        entity_type:
          $ref: '#/components/schemas/EntityTypeEnum'
        access_level:
          $ref: '#/components/schemas/ResourceAccessLevel'
        expiration_date:
          description: The day and time the principal's access will expire.
          example: 2022-01-23 04:56:07+00:00
          format: date-time
          nullable: true
          type: string
        has_direct_access:
          description: The principal has direct access to this entity (vs. inherited access).
          example: true
          type: boolean
        num_access_paths:
          description: The number of ways in which the principal has access to this entity (directly and inherited).
          example: 3
          format: int32
          type: integer
      required:
      - principal_id
      - principal_type
      - entity_id
      - entity_type
      - has_direct_access
      - num_access_paths
      type: object
    RolePermissionNameEnum:
      description: The name of the role permission.
      enum:
      - READ
      - READ_ASSIGNMENTS
      - CREATE
      - IMPORT
      - EXPORT
      - SYNC
      - DELETE
      - READ_SETTINGS
      - EDIT_TAGS
      - EDIT_SETTINGS
      - EDIT_SYNC_SETTINGS
      - EDIT_ASSIGNMENTS
      - EDIT_REQUEST_CONFIGURATIONS
      - EDIT_EVENT_STREAM
      - ASSIGN_UAR_REVIEWERS
      - SEND_REMINDERS
      - STOP
      - REQUEST_ON_BEHALF
      - RESET_MFA
      example: READ
      type: string
    MessageChannelList:
      example:
        channels:
        - message_channel_id: 7870617d-e72a-47f5-a84c-693817ab4567
          third_party_provider: SLACK
          remote_id: C03FJR97276
          name: api-team-audit-channel
          is_private: false
        - message_channel_id: 1520617d-e72a-47f5-a84c-693817ab48ad2
          third_party_provider: SLACK
          remote_id: A4FJR97365D
          name: api-team-monitor-channel
          is_private: false
      properties:
        channels:
          items:
            $ref: '#/components/schemas/MessageChannel'
          type: array
      type: object
      required:
      - channels
    GroupResource:
      description: '# GroupResource Object

        ### Description

        The `GroupResource` object is used to represent a relationship between a group and a resource.'
      example:
        group_id: f454d283-ca87-4a8a-bdbb-df212eca5353
        resource_id: b5a5ca27-0ea3-4d86-9199-2126d57d1fbd
        access_level_remote_id: write
      properties:
        group_id:
          description: The ID of the group.
          example: f454d283-ca87-4a87-bdbb-df212eca5353
          format: uuid
          type: string
        resource_id:
          description: The ID of the resource.
          example: b5a5ca27-0ea3-4d86-9199-2126d57d1fbd
          format: uuid
          type: string
        group_name:
          description: The name of the group
          example: API Group
          type: string
        resource_name:
          description: The name of the resource
          example: API Group
          type: string
        expiration_date:
          description: The day and time the group's access will expire.
          example: 2022-01-23 04:56:07+00:00
          format: date-time
          nullable: true
          type: string
        access_level:
          $ref: '#/components/schemas/ResourceAccessLevel'
      required:
      - group_id
      - resource_id
      - access_level
      type: object
    Condition:
      description: '# Condition Object

        ### Description

        The `Condition` object is used to represent a condition.


        ### Usage Example

        Used to match request configurations to users in `RequestConfiguration`'
      example:
        group_ids:
        - 1b978423-db0a-4037-a4cf-f79c60cb67b3
      type: object
      properties:
        group_ids:
          description: The list of group IDs to match.
          example:
          - 1b978423-db0a-4037-a4cf-f79c60cb67b3
          items:
            type: string
            format: uuid
          type: array
        role_remote_ids:
          description: The list of role remote IDs to match.
          example:
          - arn:aws:iam::590304332660:role/AdministratorAccess
          type: array
          items:
            type: string
    ResourceRemoteInfo:
      description: Information that defines the remote resource. This replaces the deprecated remote_id and metadata fields.
      properties:
        databricks_account_service_principal:
          description: Remote info for Databricks account service principal.
          properties:
            application_id:
              description: The application ID of the service principal.
              example: 00000000-0000-0000-0000-000000000000
              type: string
            resource_id:
              description: The resource ID of the service principal.
              example: 00000000-0000-0000-0000-000000000000
              type: string
          type: object
          required:
          - application_id
          - resource_id
        azure_subscription:
          description: Remote info for Azure subscription.
          properties:
            resource_id:
              description: The ARM resource ID of the subscription.
              example: /subscriptions/00000000-0000-0000-0000-000000000000
              type: string
          type: object
          required:
          - resource_id
        azure_resource_group:
          description: Remote info for Azure resource group.
          properties:
            resource_id:
              description: The ARM resource ID of the resource group.
              example: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/my-rg
              type: string
          type: object
          required:
          - resource_id
        azure_management_group:
          description: Remote info for Azure management group.
          properties:
            resource_id:
              description: The ARM resource ID of the management group.
              example: /providers/Microsoft.Management/managementGroups/my-mg
              type: string
          type: object
          required:
          - resource_id
        azure_virtual_machine:
          description: Remote info for Azure virtual machine.
          properties:
            resource_id:
              description: The ARM resource ID of the virtual machine.
              example: /subscriptions/0000/resourceGroups/rg/providers/Microsoft.Compute/virtualMachines/vm01
              type: string
          type: object
          required:
          - resource_id
        azure_storage_account:
          description: Remote info for Azure storage account.
          properties:
            resource_id:
              description: The ARM resource ID of the storage account.
              example: /subscriptions/0000/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/sa01
              type: string
          type: object
          required:
          - resource_id
        azure_storage_container:
          description: Remote info for Azure storage container.
          properties:
            resource_id:
              description: The ARM resource ID of the storage container.
              example: /subscriptions/0000/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/sa01/blobServices/default/containers/c01
              type: string
          type: object
          required:
          - resource_id
        azure_sql_server:
          description: Remote info for Azure SQL server.
          properties:
            resource_id:
              description: The ARM resource ID of the SQL server.
              example: /subscriptions/0000/resourceGroups/rg/providers/Microsoft.Sql/servers/sqldev01
              type: string
          type: object
          required:
          - resource_id
        azure_sql_database:
          description: Remote info for Azure SQL database.
          properties:
            resource_id:
              description: The ARM resource ID of the SQL database.
              example: /subscriptions/0000/resourceGroups/rg/providers/Microsoft.Sql/servers/sqldev01/databases/db01
              type: string
          type: object
          required:
          - resource_id
        azure_sql_managed_instance:
          description: Remote info for Azure SQL managed instance.
          properties:
            resource_id:
              description: The ARM resource ID of the SQL managed instance.
              example: /subscriptions/0000/resourceGroups/rg/providers/Microsoft.Sql/managedInstances/mi01
              type: string
          type: object
          required:
          - resource_id
        azure_sql_managed_database:
          description: Remote info for Azure SQL managed database.
          properties:
            resource_id:
              description: The ARM resource ID of the SQL managed database.
              example: /subscriptions/0000/resourceGroups/rg/providers/Microsoft.Sql/managedInstances/mi01/databases/midb01
              type: string
          type: object
          required:
          - resource_id
        azure_user_assigned_managed_identity:
          description: Remote info for Azure user assigned managed identity.
          properties:
            resource_id:
              description: The ARM resource ID of the user assigned managed identity.
              example: /subscriptions/0000/resourceGroups/rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id01
              type: string
          type: object
          required:
          - resource_id
        azure_enterprise_app:
          description: Remote info for Azure Enterprise App.
          properties:
            resource_id:
              description: The remote application identifier (service principal or application object ID).
              example: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
              type: string
          type: object
          required:
          - resource_id
        azure_entra_id_role:
          description: Remote info for Azure Entra ID role.
          properties:
            resource_id:
              description: The remote role identifier from Entra (object ID).
              example: 11111111-2222-3333-4444-555555555555
              type: string
          type: object
          required:
          - resource_id
        aws_organizational_unit:
          description: Remote info for AWS organizational unit.
          properties:
            parent_id:
              description: The id of the parent organizational unit.
              example: ou-1234
              type: string
            organizational_unit_id:
              description: The id of the AWS organizational unit that is being created.
              example: ou-1234
              type: string
          type: object
          required:
          - organizational_unit_id
        aws_account:
          description: Remote info for AWS account.
          properties:
            account_id:
              description: The id of the AWS account.
              example: 234234234234
              type: string
            organizational_unit_id:
              description: The id of the AWS organizational unit. Required only if customer has OUs enabled.
              example: ou-1234
              type: string
          type: object
          required:
          - account_id
        aws_permission_set:
          description: Remote info for AWS Identity Center permission set.
          properties:
            arn:
              description: The ARN of the permission set.
              example: arn:aws:sso:::permissionSet/asdf-32139302d201d32/ps-f03323201211e1b9
              type: string
            account_id:
              description: The ID of an AWS account to which this permission set is provisioned.
              example: 234234234234
              type: string
          type: object
          required:
          - arn
          - account_id
        aws_iam_role:
          description: Remote info for AWS IAM role.
          properties:
            arn:
              description: The ARN of the IAM role.
              example: arn:aws:iam::179308207300:role/MyRole
              type: string
            account_id:
              description: The id of the AWS account. Required for AWS Organizations.
              example: 234234234234
              type: string
          type: object
          required:
          - arn
        aws_ec2_instance:
          description: Remote info for AWS EC2 instance.
          properties:
            instance_id:
              description: The instanceId of the EC2 instance.
              example: i-13f1a1e2899f9e93a
              type: string
            region:
              description: The region of the EC2 instance.
              example: us-east-2
              type: string
            account_id:
              description: The id of the AWS account. Required for AWS Organizations.
              example: 234234234234
              type: string
          type: object
          required:
          - instance_id
          - region
        aws_rds_cluster:
          description: Remote info for AWS RDS cluster.
          properties:
            cluster_id:
              description: The clusterId of the RDS cluster.
              example: demo-mysql-cluster
              type: string
            region:
              description: The region of the RDS cluster.
              example: us-east-2
              type: string
            resource_id:
              description: The resourceId of the RDS cluster.
              example: cluster-AOO8V0XUCNU13XLZXQDQRSN0NQ
              type: string
            account_id:
              description: The id of the AWS account. Required for AWS Organizations.
              example: 234234234234
              type: string
            database_name:
              description: The name of the database in the RDS cluster. This can be the value of the tag `opal:database-name` or the database name.
              example: mydatabase
              type: string
            engine:
              allOf:
              - $ref: '#/components/schemas/RDSEngineEnum'
          type: object
          required:
          - cluster_id
          - region
          - resource_id
          - account_id
          - database_name
          - engine
        aws_rds_instance:
          description: Remote info for AWS RDS instance.
          properties:
            instance_id:
              description: The instanceId of the RDS instance.
              example: demo-mysql-db
              type: string
            region:
              description: The region of the RDS instance.
              example: us-east-2
              type: string
            resource_id:
              description: The resourceId of the RDS instance.
              example: db-AOO8V0XUCNU13XLZXQDQRSN0NQ
              type: string
            account_id:
              description: The id of the AWS account. Required for AWS Organizations.
              example: 234234234234
              type: string
          type: object
          required:
          - instance_id
          - region
          - resource_id
        aws_eks_cluster:
          description: Remote info for AWS EKS cluster.
          properties:
            arn:
              description: The ARN of the EKS cluster.
              example: arn:aws:eks:us-east-2:234234234234:cluster/testcluster
              type: string
            account_id:
              description: The id of the AWS account. Required for AWS Organizations.
              example: 234234234234
              type: string
          type: object
          required:
          - arn
        custom_connector:
          description: Remote info for a custom connector resource.
          properties:
            remote_resource_id:
              description: The id of the resource in the end system
              example: 01fa7402-01d8-103b-8deb-5f3a0ab7884
              type: string
            can_have_usage_events:
              description: A bool representing whether or not the resource can have usage data.
              example: false
              type: boolean
          type: object
          required:
          - remote_resource_id
          - can_have_usage_events
        gcp_organization:
          description: Remote info for GCP organization.
          properties:
            organization_id:
              description: The id of the organization.
              example: organizations/898931321
              type: string
          type: object
          required:
          - organization_id
        gcp_bucket:
          description: Remote info for GCP bucket.
          properties:
            bucket_id:
              description: The id of the bucket.
              example: example-bucket-898931321
              type: string
          type: object
          required:
          - bucket_id
        gcp_compute_instance:
          description: Remote info for GCP compute instance.
          properties:
            instance_id:
              description: The id of the instance.
              example: example-instance-898931321
              type: string
            project_id:
              description: The id of the project the instance is in.
              example: example-project-898931321
              type: string
            zone:
              description: The zone the instance is in.
              example: us-central1-a
              type: string
          type: object
          required:
          - instance_id
          - project_id
          - zone
        gcp_big_query_dataset:
          description: Remote info for GCP BigQuery Dataset.
          properties:
            project_id:
              description: The id of the project the dataset is in.
              example: example-project-898931321
              type: string
            dataset_id:
              description: The id of the dataset.
              example: example-dataset-898931321
              type: string
          type: object
          required:
          - project_id
          - dataset_id
        gcp_big_query_table:
          description: Remote info for GCP BigQuery Table.
          properties:
            project_id:
              description: The id of the project the table is in.
              example: example-project-898931321
              type: string
            dataset_id:
              description: The id of the dataset the table is in.
              example: example-dataset-898931321
              type: string
            table_id:
              description: The id of the table.
              example: example-table-898931321
              type: string
          type: object
          required:
          - project_id
          - dataset_id
          - table_id
        gcp_folder:
          description: Remote info for GCP folder.
          properties:
            folder_id:
              description: The id of the folder.
              example: folder/898931321
              type: string
          type: object
          required:
          - folder_id
        gcp_gke_cluster:
          description: Remote info for GCP GKE cluster.
          properties:
            cluster_name:
              description: The name of the GKE cluster.
              example: example-cluster-898931321
              type: string
          type: object
          required:
          - cluster_name
        gcp_project:
          description: Remote info for GCP project.
          properties:
            project_id:
              description: The id of the project.
              example: example-project-898931321
              type: string
          type: object
          required:
          - project_id
        gcp_sql_instance:
          description: Remote info for GCP SQL instance.
          properties:
            instance_id:
              description: The id of the SQL instance.
              example: example-sql-898931321
              type: string
            project_id:
              description: The id of the project the instance is in.
              example: example-project-898931321
              type: string
          type: object
          required:
          - instance_id
          - project_id
        gcp_service_account:
          description: Remote info for a GCP service account.
          properties:
            email:
              description: The email of the service account.
              example: production@project.iam.gserviceaccount.com
              type: string
            service_account_id:
              description: The id of the service account.
              example: 103561576023829460000
              type: string
            project_id:
              description: The id of the project the service account is in.
              example: example-project-898931321
              type: string
          type: object
          required:
          - email
          - service_account_id
          - project_id
        google_workspace_role:
          description: Remote info for GCP workspace role.
          properties:
            role_id:
              description: The id of the role.
              example: google-workspace-role:01234567890123456
              type: string
          type: object
          required:
          - role_id
        github_repo:
          description: Remote info for GitHub repository.
          properties:
            repo_id:
              deprecated: true
              description: The id of the repository.
              example: 898931321
              type: string
            repo_name:
              description: The name of the repository.
              example: Opal Security
              type: string
            org_name:
              description: GitHub repo's org name, required only for Enterprise.
              type: string
          type: object
          required:
          - repo_name
        github_org_role:
          description: Remote info for GitHub organization role.
          properties:
            role_id:
              description: The id of the role.
              example: 112233
              type: string
            org_name:
              description: GitHub org role's org name, required only for Enterprise.
              type: string
          type: object
          required:
          - role_id
        github_org:
          description: Remote info for GitHub organization.
          properties:
            org_name:
              description: The name of the organization.
              example: Opal Security
              type: string
          type: object
          required:
          - org_name
        github_enterprise_role:
          description: Remote info for GitHub Enterprise role.
          properties:
            role_id:
              description: The id of the role.
[...]
