openapi: 3.1.0
info:
  contact:
    email: hello@opal.dev
    name: Opal Team
    url: https://www.opal.dev/
  description: The Opal API is a RESTful API that allows you to interact with the Opal Security platform programmatically.
  title: Opal access-rules groups API
  version: '1.0'
servers:
- description: Production
  url: https://api.opal.dev/v1
tags:
- name: groups
  description: Operations related to groups
paths:
  /groups:
    get:
      summary: Get groups
      description: Returns a list of groups for your organization.
      operationId: getGroups
      parameters:
      - description: The pagination cursor value.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page. Default is 200.
        example: 200
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
          maximum: 1000
        style: form
      - description: The group type to filter by.
        example: OPAL_GROUP
        explode: true
        in: query
        name: group_type_filter
        required: false
        schema:
          $ref: '#/components/schemas/GroupTypeEnum'
        style: form
      - description: The group ids to filter by.
        example:
        - 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        - 1b978423-db0a-4037-a4cf-f79c60cb67b3
        explode: false
        in: query
        name: group_ids
        required: false
        schema:
          items:
            example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
            format: uuid
            type: string
          type: array
        style: form
      - description: Group name.
        example: example-name
        explode: true
        in: query
        name: group_name
        required: false
        schema:
          type: string
        style: form
      - description: The IDs of the tags to filter by. Returns only groups that have any of these tags applied.
        in: query
        name: tag_ids
        required: false
        schema:
          type: array
          items:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedGroupsList'
          description: One page worth groups associated with your organization.
      security:
      - BearerAuth: []
      tags:
      - groups
    put:
      description: Bulk updates a list of groups.
      operationId: updateGroups
      requestBody:
        description: Groups to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupInfoList'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateGroupInfoList'
          description: The resulting updated group infos.
      security:
      - BearerAuth: []
      tags:
      - groups
    post:
      description: Creates an Opal group or [imports a remote group](https://docs.opal.dev/reference/end-system-objects).
      operationId: createGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupInfo'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: The group just created.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}:
    get:
      summary: Get group by ID
      description: Returns a `Group` object.
      operationId: getGroup
      parameters:
      - description: The ID of the group.
        example: 32acc112-21ff-4669-91c2-21e27683eaa1
        explode: true
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: The requested `Group`.
      security:
      - BearerAuth: []
      tags:
      - groups
    delete:
      description: Deletes a group.
      operationId: delete_group
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          description: The group was successfully deleted.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/message-channels:
    get:
      description: Gets the list of audit and reviewer message channels attached to a group.
      operationId: get_group_message_channels
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageChannelList'
          description: The audit and reviewer message channels attached to the group.
      security:
      - BearerAuth: []
      tags:
      - groups
    put:
      description: Sets the list of audit message channels attached to a group.
      operationId: set_group_message_channels
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageChannelIDList'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
                  format: uuid
                  type: string
                type: array
          description: The updated audit message channel IDs for the group.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/on-call-schedules:
    get:
      description: Gets the list of on call schedules attached to a group.
      operationId: get_group_on_call_schedules
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnCallScheduleList'
          description: The on call schedules attached to the group.
      security:
      - BearerAuth: []
      tags:
      - groups
    put:
      description: Sets the list of on call schedules attached to a group.
      operationId: set_group_on_call_schedules
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnCallScheduleIDList'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  example: bb0197c0-5ea5-45d9-b3b7-b6c439be6435
                  format: uuid
                  type: string
                type: array
          description: The updated on call schedule IDs for the group.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/resources:
    get:
      description: Gets the list of resources that the group gives access to.
      operationId: get_group_resources
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResourceList'
          description: The resources that the group gives access to.
      security:
      - BearerAuth: []
      tags:
      - groups
    put:
      description: Sets the list of resources that the group gives access to.
      operationId: set_group_resources
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupResourcesInfo'
      responses:
        '200':
          description: The group resource were successfully set.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/containing-groups:
    get:
      summary: Get nested groups
      description: Gets the list of groups that the group gives access to.
      operationId: get_group_containing_groups
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The access level's remote ID to filter by.
        example: arn:aws:iam::590304332660:role/AdministratorAccess
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupContainingGroupList'
          description: The groups that the group gives access to.
      security:
      - BearerAuth: []
      tags:
      - groups
    post:
      description: Creates a new containing group.
      operationId: add_group_containing_group
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupContainingGroup'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupContainingGroup'
          description: The created `GroupContainingGroup` object.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/containing-groups/{containing_group_id}:
    get:
      summary: Get nested group by ID
      description: Gets a specific containing group for a group.
      operationId: get_group_containing_group
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the containing group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: containing_group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupContainingGroup'
          description: The created `GroupContainingGroup` object.
      security:
      - BearerAuth: []
      tags:
      - groups
    delete:
      description: Removes a containing group from a group.
      operationId: remove_group_containing_group
      parameters:
      - description: The ID of the member group to remove.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the containing group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: containing_group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The remote ID of the member group's access level to filter by.
        example: arn:aws:iam::590304332660:role/AdministratorAccess
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
      responses:
        '204':
          description: The member group was successfully removed from the containing group.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/resources/{resource_id}:
    post:
      description: Adds a resource to a group.
      operationId: add_group_resource
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the resource.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: resource_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The remote ID of the access level to grant to this user. If omitted, the default access level remote ID value (empty string) is used.
        example: arn:aws:iam::590304332660:role/AdministratorAccess
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
        deprecated: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              example:
                access_level_remote_id: arn:aws:iam::590304332660:role/AdministratorAccess
                duration_minutes: 60
              properties:
                access_level_remote_id:
                  description: The remote ID of the access level to grant to this user. If omitted, the default access level remote ID value (empty string) is used.
                  example: arn:aws:iam::590304332660:role/AdministratorAccess
                  type: string
                duration_minutes:
                  description: The duration for which the resource can be accessed (in minutes). Use 0 to set to indefinite.
                  example: 60
                  type: integer
                  maximum: 525960
                  minimum: 0
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResource'
          description: The created `GroupResource` object.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/visibility:
    get:
      description: Gets the visibility of this group.
      operationId: get_group_visibility
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisibilityInfo'
          description: The visibility info of this group.
      security:
      - BearerAuth: []
      tags:
      - groups
    put:
      description: Sets the visibility of this group.
      operationId: set_group_visibility
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisibilityInfo'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisibilityInfo'
          description: The visibility info of this group.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/reviewers:
    get:
      deprecated: true
      description: Gets the list of owner IDs of the reviewers for a group.
      operationId: get_group_reviewers
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
                  format: uuid
                  type: string
                type: array
          description: The IDs of owners that are reviewers for this group.
      security:
      - BearerAuth: []
      tags:
      - groups
    put:
      deprecated: true
      description: Sets the list of reviewers for a group.
      operationId: set_group_reviewers
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewerIDList'
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
                  format: uuid
                  type: string
                type: array
          description: The updated IDs of owners that are reviewers for this group
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/reviewer-stages:
    get:
      deprecated: true
      description: Gets the list of reviewer stages for a group.
      operationId: get_group_reviewer_stages
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                description: A list of reviewer stages.
                items:
                  $ref: '#/components/schemas/ReviewerStage'
                type: array
          description: The reviewer stages for this group.
      security:
      - BearerAuth: []
      tags:
      - groups
    put:
      deprecated: true
      description: Sets the list of reviewer stages for a group.
      operationId: set_group_reviewer_stages
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewerStageList'
      responses:
        '200':
          content:
            application/json:
              schema:
                description: A list of reviewer stages.
                items:
                  $ref: '#/components/schemas/ReviewerStage'
                type: array
          description: The updated reviewer stages for this group.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/tags:
    get:
      description: Returns all tags applied to the group.
      operationId: get_group_tags
      parameters:
      - description: The ID of the group whose tags to return.
        name: group_id
        example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
        explode: false
        in: path
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsList'
          description: The tags applied to the group.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/users:
    get:
      description: Gets the list of users for this group.
      operationId: get_group_users
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The pagination cursor value.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page, up to 1000. When set (or when a cursor is provided), the response contains a single page of results and a `next` cursor; the default page size is 200. When both page_size and cursor are omitted, the entire group membership is returned in one response with no `next` cursor. For large groups, prefer setting page_size and following `next`.
        example: 200
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
          maximum: 1000
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupUserList'
          description: List of users with access to this group.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/{group_id}/users/{user_id}:
    put:
      description: Updates a user's access level or duration in this group.
      operationId: update_group_user
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the user whose access is being updated.
        example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
        in: path
        name: user_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              example:
                duration_minutes: 60
                access_level_remote_id: arn:aws:iam::590304332660:role/AdministratorAccess
              properties:
                duration_minutes:
                  description: The updated duration for which the group can be accessed (in minutes). Use 0 for indefinite, or a negative value to revoke access.
                  type: integer
                  maximum: 525960
                  example: 120
                access_level_remote_id:
                  description: The updated remote ID of the access level granted to this user.
                  type: string
                  example: arn:aws:iam::590304332660:role/ReadOnlyAccess
              required:
              - duration_minutes
      responses:
        '200':
          description: The GroupUser was successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupUser'
      security:
      - BearerAuth: []
      tags:
      - groups
    post:
      description: Adds a user to this group.
      operationId: add_group_user
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the user to add.
        example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The duration for which the group can be accessed (in minutes). Use 0 to set to indefinite.
        example: 60
        explode: true
        in: query
        name: duration_minutes
        required: false
        schema:
          type: integer
          maximum: 525960
        style: form
        deprecated: true
      - description: The remote ID of the access level to grant to this user. If omitted, the default access level remote ID value (empty string) is used.
        example: arn:aws:iam::590304332660:role/AdministratorAccess
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
        deprecated: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              example:
                duration_minutes: 60
                access_level_remote_id: arn:aws:iam::590304332660:role/AdministratorAccess
              properties:
                duration_minutes:
                  description: The duration for which the group can be accessed (in minutes). Use 0 to set to indefinite.
                  example: 60
                  type: integer
                access_level_remote_id:
                  description: The remote ID of the access level to grant to this user. If omitted, the default access level remote ID value (empty string) is used.
                  example: arn:aws:iam::590304332660:role/AdministratorAccess
                  type: string
              required:
              - duration_minutes
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupUser'
          description: The GroupUser that was created.
      security:
      - BearerAuth: []
      tags:
      - groups
    delete:
      description: Removes a user's access from this group.
      operationId: delete_group_user
      parameters:
      - description: The ID of the group.
        example: 4baf8423-db0a-4037-a4cf-f79c60cb67a5
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of a user to remove from this group.
        example: f92aa855-cea9-4814-b9d8-f2a60d3e4a06
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The remote ID of the access level for which this user has direct access. If omitted, the default access level remote ID value (empty string) is assumed.
        example: 30
        explode: true
        in: query
        name: access_level_remote_id
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          description: This user's access was successfully removed from this group.
      security:
      - BearerAuth: []
      tags:
      - groups
  /groups/users/{user_id}:
    get:
      description: Returns all groups that the user is a member of.
      operationId: get_user_groups
      parameters:
      - description: The ID of the user whose groups to return.
        name: user_id
        example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
        explode: false
        in: path
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The pagination cursor value.
        example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page. Default is 200.
        example: 200
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
          maximum: 1000
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupUserList'
          description: The groups that the user is a member of.
      security:
      - BearerAuth: []
      tags:
      - groups
components:
  schemas:
    ResourceAccessLevel:
      description: '# Access Level Object

        ### Description

        The `AccessLevel` object is used to represent the level of access that a principal has. The "default" access

        level is a `AccessLevel` object whose fields are all empty strings.


        ### Usage Example

        View the `AccessLevel` of a resource/user or resource/group pair to see the level of access granted to the resource.'
      example:
        access_level_name: AdminRole
        access_level_remote_id: arn:aws:iam::590304332660:role/AdministratorAccess
      properties:
        access_level_name:
          description: The human-readable name of the access level.
          example: AdminRole
          type: string
        access_level_remote_id:
          description: The machine-readable identifier of the access level.
          example: arn:aws:iam::590304332660:role/AdministratorAccess
          type: string
      required:
      - access_level_name
      - access_level_remote_id
      type: object
    OnCallScheduleProviderEnum:
      description: The third party provider of the on call schedule.
      enum:
      - OPSGENIE
      - PAGER_DUTY
      example: PAGER_DUTY
      type: string
    CreateGroupInfo:
      description: '# CreateGroupInfo Object

        ### Description

        The `CreateGroupInfo` object is used to store creation info for a group.


        ### Usage Example

        Use in the `POST Groups` endpoint.'
      example:
        remote_group_id: 00g4fixjd6Bc9w0TT5d7
        name: Engineering Team
        description: Engineering team Okta group.
        group_type: OKTA_GROUP
        metadata: '{ "okta_directory_group": { "group_id": "00g4bs66kwtpe1g12345" } }'
        app_id: f454d283-ca87-4a8a-bdbb-df212eca5353
      properties:
        name:
          description: The name of the remote group.
          example: mongo-db-prod
          type: string
        description:
          description: A description of the remote group.
          example: Engineering team Okta group.
          type: string
        group_type:
          $ref: '#/components/schemas/GroupTypeEnum'
        app_id:
          description: The ID of the app for the group.
          example: f454d283-ca87-4a8a-bdbb-df212eca5353
          format: uuid
          type: string
        remote_info:
          $ref: '#/components/schemas/GroupRemoteInfo'
        remote_group_id:
          deprecated: true
          description: Deprecated - use remote_info instead. The ID of the group on the remote system. Include only for items linked to remote systems. See [this guide](https://docs.opal.dev/reference/end-system-objects) for details on how to specify this field.
          example: 00g4fixjd6Bc9w012345
          type: string
        metadata:
          deprecated: true
          description: "Deprecated - use remote_info instead.\n\nJSON metadata about the remote group. Include only for items linked to remote systems. See [this guide](https://docs.opal.dev/reference/end-system-objects) for details on how to specify this field.\nThe required format is dependent on group_type and should have the following schema:\n<style type=\"text/css\">\ncode {max-height:300px !important}\n</style>\n```json\n{\n  \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n  \"title\": \"Group Metadata\",\n  \"properties\": {\n    \"ad_group\": {\n      \"properties\": {\n        \"object_guid\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"object_guid\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"Active Directory Group\"\n    },\n    \"duo_group\": {\n      \"properties\": {\n        \"group_id\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"group_id\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"Duo Group\"\n    },\n    \"git_hub_team\": {\n      \"properties\": {\n        \"org_name\": {\n          \"type\": \"string\"\n        },\n        \"team_slug\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"org_name\", \"team_slug\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"GitHub Team\"\n    },\n    \"google_groups_group\": {\n      \"properties\": {\n        \"group_id\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"group_id\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"Google Groups Group\"\n    },\n    \"ldap_group\": {\n      \"properties\": {\n        \"group_uid\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"group_uid\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"LDAP Group\"\n    },\n    \"okta_directory_group\": {\n      \"properties\": {\n        \"group_id\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"group_id\"],\n      \"additionalProperties\": false,\n      \"type\": \"object\",\n      \"title\": \"Okta Directory Group\"\n    }\n  },\n  \"additionalProperties\": false,\n  \"minProperties\": 1,\n  \"maxProperties\": 1,\n  \"type\": \"object\"\n}\n```"
          example: '{ "okta_directory_group": { "group_id": "00g4bs66kwtpe1g12345" } }'
          type: string
        custom_request_notification:
          description: Custom request notification sent upon request approval.
          type: string
          maxLength: 800
          nullable: true
          example: Check your email to register your account.
        risk_sensitivity_override:
          allOf:
          - $ref: '#/components/schemas/RiskSensitivityEnum'
      required:
      - name
      - group_type
      - app_id
      type: object
    VisibilityInfo:
      description: Visibility infomation of an entity.
      example:
        visibility: LIMITED
        visibility_group_ids:
        - 7870617d-e72a-47f5-a84c-693817ab4567
        - 1520617d-e72a-47f5-a84c-693817ab48ad2
      properties:
        visibility:
          $ref: '#/components/schemas/VisibilityTypeEnum'
        visibility_group_ids:
          items:
            type: string
            format: uuid
          type: array
      type: object
      required:
      - visibility
    RequestConfiguration:
      description: '# Request Configuration Object

        ### Description

        The `RequestConfiguration` object is used to represent a request configuration.


        ### Usage Example

        Returned from the `GET Request Configurations` endpoint.'
      example:
        request_configuration_id: 7c86c85d-0651-43e2-a748-d69d658418e8
        organization_id: w86c85d-0651-43e2-a748-d69d658418e8
        created_at: 2021-01-06 20:00:00+00:00
        updated_at: 2021-01-06 20:00:00+00:00
        condition:
          group_id: 1b978423-db0a-4037-a4cf-f79c60cb67b3
        allow_requests: true
        auto_approval: false
        require_mfa_to_request: false
        max_duration_minutes: 120
        recommended_duration_minutes: 120
        require_support_ticket: false
        reviewer_stages:
        - reviewer_stage_id: 7c86c85d-0651-43e2-a748-d69d658418e8
          owner_ids:
          - 37cb7e41-12ba-46da-92ff-030abe0450b1
          - 37cb7e41-12ba-46da-92ff-030abe0450b2
          stage: 1
        priority: 1
      type: object
      properties:
        condition:
          description: The condition for the request configuration.
          $ref: '#/components/schemas/Condition'
        allow_requests:
          description: A bool representing whether or not to allow requests for this resource.
          example: true
          type: boolean
        auto_approval:
          description: A bool representing whether or not to automatically approve requests for this resource.
          example: false
          type: boolean
        require_mfa_to_request:
          description: A bool representing whether or not to require MFA for requesting access to this resource.
          example: false
          type: boolean
        max_duration_minutes:
          description: The maximum duration for which the resource can be requested (in minutes).
          type: integer
          example: 120
        recommended_duration_minutes:
          description: The recommended duration for which the resource should be requested (in minutes). -1 represents an indefinite duration.
          type: integer
          example: 120
        require_support_ticket:
          description: A bool representing whether or not access requests to the resource require an access ticket.
          example: false
          type: boolean
        extensions_duration_in_minutes:
          description: The duration for which access can be extended (in minutes). Set to 0 to disable extensions. When > 0, extensions are enabled for the specified duration.
          type: integer
          example: 120
        request_template_id:
          description: The ID of the associated request template.
          example: 06851574-e50d-40ca-8c78-f72ae6ab4304
          format: uuid
          type: string
        reviewer_stages:
          description: The list of reviewer stages for the request configuration.
          items:
            $ref: '#/components/schemas/ReviewerStage'
          type: array
        priority:
          description: The priority of the request configuration.
          example: 1
          type: integer
      required:
      - organization_id
      - allow_requests
      - auto_approval
      - require_mfa_to_request
      - require_support_ticket
      - priority
    GroupUserList:
      example:
        next: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        previous: cj1sZXdwd2VycWVtY29zZnNkc2NzUWxNMEUxTXk0ME16UXpNallsTWtJ
        results:
        - full_name: Jake Barnes
          user_id: 29827fb8-f2dd-4e80-9576-28e31e9934ac
          group_id: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          expiration_date: 2022-01-23 04:56:07+00:00
          email: jake@company.dev
        - full_name: Brett Ashley
          user_id: 7646aa9a-e2ee-4eb5-8c62-91f29038a373
          group_id: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          expiration_date: 2022-02-03 12:33:02+00:00
          email: brett@company.dev
      properties:
        results:
          items:
            $ref: '#/components/schemas/GroupUser'
          type: array
        next:
          description: The cursor with which to continue pagination if additional result pages exist.
          example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
          nullable: true
          type: string
        previous:
          description: The cursor used to obtain the current result page.
          example: cj1sZXdwd2VycWVtY29zZnNkc2NzUWxNMEUxTXk0ME16UXpNallsTWtJ
          nullable: true
          type: string
      type: object
    Tag:
      description: '# Tag Object

        ### Description

        The `Tag` object is used to represent a tag.


        ### Usage Example

        Get tags from the `GET Tag` endpoint.'
      example:
        tag_id: f290a738-5f9f-43c2-ad67-fa31ff0eb946
        created_at: 2022-01-23 04:56:07+00:00
        updated_at: 2022-02-23 01:34:07+00:00
        user_creator_id: d4a7d928-783e-4599-8ec6-088d635a5bcc
        key: database-name
        value: redis_db
      properties:
        tag_id:
          description: The ID of the tag.
          example: f290a738-5f9f-43c2-ad67-fa31ff0eb946
          format: uuid
          type: string
        created_at:
          description: The date the tag was created.
          example: 2022-01-23 04:56:07+00:00
          format: date-time
          type: string
        updated_at:
          description: The date the tag was last updated.
          example: 2022-02-23 01:34:07+00:00
          format: date-time
          type: string
        user_creator_id:
          description: The ID of the user that created the tag.
          example: d4a7d928-783e-4599-8ec6-088d635a5bcc
          format: uuid
          type: string
        key:
          description: The key of the tag.
          example: database-name
          type: string
        value:
          description: The value of the tag.
          example: redis_db
          type: string
      type: object
      required:
      - tag_id
    UpdateGroupInfoList:
      example:
        groups:
        - group_id: f454d283-ca87-4a8a-bdbb-df212eca5353
          description: This group represents Active Directory group "Payments Production Admin". We use this AD group to facilitate staging deployments and qualifying new releases.
          name: api-group
          admin_owner_id: 7c86c85d-0651-43e2-a748-d69d658418e8
          max_duration: 120
          require_manager_approval: false
          require_support_ticket: false
        - group_id: 99d0b81d-14be-4cf6-bd27-348b4af1d11b
          description: Manages the Integrations Team on-call privileged resources. This group is automatically synced with the on-call rotation defined in PagerDuty.
          name: on-call-integrations
          admin_owner_id: 4220bc12-ab8a-4b5d-be7b-f6bbcf9159f3
          max_duration: 360
          require_manager_approval: false
          require_support_ticket: true
      properties:
        groups:
          description: A list of groups with information to update.
          items:
            $ref: '#/components/schemas/UpdateGroupInfo'
          type: array
      type: object
      required:
      - groups
    MessageChannelIDList:
      description: A list of message channel IDs.
      example:
        message_channel_ids:
        - 7870617d-e72a-47f5-a84c-693817ab4567
        - 1520617d-e72a-47f5-a84c-693817ab48ad2
      properties:
        message_channel_ids:
          items:
            type: string
            format: uuid
          type: array
      type: object
      required:
      - message_channel_ids
    VisibilityTypeEnum:
      description: The visibility level of the entity.
      enum:
      - GLOBAL
      - LIMITED
      example: GLOBAL
      type: string
    Group:
      description: '# Group Object

        ### Description

        The `Group` object is used to represent a group.


        ### Usage Example

        Update from the `UPDATE Groups` endpoint.'
      example:
        group_id: f454d283-ca87-4a8a-bdbb-df212eca5353
        app_id: b5a5ca27-0ea3-4d86-9199-2126d57d1fbd
        name: Payments Production Admin
        description: This group represents Active Directory group "Payments Production Admin". We use this AD group to facilitate staging deployments and qualifying new releases.
        admin_owner_id: 7c86c85d-0651-43e2-a748-d69d658418e8
        group_leader_user_ids:
        - 7c86c85d-0651-43e2-a748-d69d658418e8
        remote_id: 037m2jsg218b2wb
        remote_name: Finance Team
        group_type: ACTIVE_DIRECTORY_GROUP
        max_duration: 120
        recommended_duration: 60
        extensions_duration_in_minutes: 60
        require_manager_approval: false
        require_support_ticket: false
        require_mfa_to_approve: false
        require_mfa_to_request: false
        auto_approval: false
        is_requestable: true
      properties:
        group_id:
          description: The ID of the group.
          example: f454d283-ca87-4a8a-bdbb-df212eca5353
          format: uuid
          type: string
        app_id:
          description: The ID of the group's app.
          example: b5a5ca27-0ea3-4d86-9199-2126d57d1fbd
          format: uuid
          type: string
        name:
          description: The name of the group.
          example: API Group
          type: string
        description:
          description: A description of the group.
          example: This group represents Active Directory group "Payments Production Admin". We use this AD group to facilitate staging deployments and qualifying new releases.
          type: string
        admin_owner_id:
          description: The ID of the owner of the group.
          example: 7c86c85d-0651-43e2-a748-d69d658418e8
          format: uuid
          type: string
        group_leader_user_ids:
          description: A list of User IDs for the group leaders of the group
          items:
            type: string
            format: uuid
          type: array
        remote_id:
          description: The ID of the remote.
          example: google-group-group:037m2jsg218b2wb
          type: string
        remote_name:
          description: The name of the remote.
          example: Finance team
          type: string
        group_type:
          $ref: '#/components/schemas/GroupTypeEnum'
        max_duration:
          description: The maximum duration for which the group can be requested (in minutes).
          type: integer
          example: 120
        recommended_duration:
          description: The recommended duration for which the group should be requested (in minutes). -1 represents an indefinite duration.
          type: integer
          example: 120
        extensions_duration_in_minutes:
          description: The duration for which access can be extended (in minutes). Set to 0 to disable extensions. When > 0, extensions are enabled for the specified duration.
          type: integer
          example: 120
        require_manager_approval:
          description: A bool representing whether or not access requests to the group require manager approval.
          example: false
          type: boolean
          deprecated: true
        require_support_ticket:
          description: A bool representing whether or not access requests to the group require an access ticket.
          example: false
          type: boolean
        require_mfa_to_approve:
          description: A bool representing whether or not to require MFA for reviewers to approve requests for this group.
          example: false
          type: boolean
        require_mfa_to_request:
          description: A bool representing whether or not to require MFA for requesting access to this group.
          example: false
          type: boolean
        auto_approval:
          description: A bool representing whether or not to automatically approve requests to this group.
          example: false
          type: boolean
        request_template_id:
          description: The ID of the associated request template.
          example: 06851574-e50d-40ca-8c78-f72ae6ab4304
          format: uuid
          type: string
        configuration_template_id:
          description: The ID of the associated configuration template.
          example: 06851574-e50d-40ca-8c78-f72ae6ab4304
          format: uuid
          type: string
        group_binding_id:
          description: The ID of the associated group binding.
          example: 06851574-e50d-40ca-8c78-f72ae6ab4304
          format: uuid
          type: string
        is_requestable:
          description: A bool representing whether or not to allow access requests to this group.
          example: false
          type: boolean
        request_configurations:
          description: A list of request configurations for this group.
          example: []
          type: array
          items:
            $ref: '#/components/schemas/RequestConfiguration'
        request_configuration_list:
          description: A list of request configurations for this group. Deprecated in favor of `request_configurations`.
          deprecated: true
          example: []
          type: array
          items:
            $ref: '#/components/schemas/RequestConfiguration'
        metadata:
          description: JSON metadata about the remote group. Only set for items linked to remote systems. See [this guide](https://docs.opal.dev/reference/end-system-objects) for details.
          deprecated: true
          example: '{ "okta_directory_group": { "group_id": "00g4bs66kwtpe1g12345" } }'
          type: string
        remote_info:
          $ref: '#/components/schemas/GroupRemoteInfo'
        custom_request_notification:
          description: Custom request notification sent to the requester when the request is approved.
          type: string
          maxLength: 800
          nullable: true
          example: Check your email to register your account.
        risk_sensitivity:
          description: The risk sensitivity level for the group. When an override is set, this field will match that.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/RiskSensitivityEnum'
        risk_sensitivity_override:
          allOf:
          - $ref: '#/components/schemas/RiskSensitivityEnum'
        last_successful_sync:
          readOnly: true
          description: Information about the last successful sync of this group.
          $ref: '#/components/schemas/SyncTask'
      required:
      - group_id
      type: object
    GroupAccessLevel:
      description: '# Access Level Object

        ### Description

        The `GroupAccessLevel` object is used to represent the level of access that a user has to a group or a group has to a group. The "default" access

        level is a `GroupAccessLevel` object whose fields are all empty strings.


        ### Usage Example

        View the `GroupAccessLevel` of a group/user or group/group pair to see the level of access granted to the group.'
      example:
        access_level_name: Developer
        access_level_remote_id: 20
      properties:
        access_level_name:
          description: The human-readable name of the access level.
          example: Developer
          type: string
        access_level_remote_id:
          description: The machine-readable identifier of the access level.
          example: 20
          type: string
      required:
      - access_level_name
      - access_level_remote_id
      type: object
    SyncTask:
      type: object
      description: Represents a sync task that has been completed, either successfully or with errors.
      properties:
        id:
          description: The ID of the sync task.
          example: 7c86c85d-0651-43e2-a748-d69d658418e8
          format: uuid
          type: string
        completed_at:
          description: The time when the sync task was completed.
          example: 2023-10-01 12:00:00+00:00
          type: string
          format: date-time
      required:
      - id
      - completed_at
      example:
        id: 7c86c85d-0651-43e2-a748-d69d658418e8
        completed_at: 2023-10-01 12:00:00+00:00
    UpdateGroupResourcesInfo:
      example:
        group_resources:
        - resource_id: 1520617d-e72a-47f5-a84c-693817ab48ad2
          access_level_remote_id: ''
        - resource_id: 6f99639b-7928-4043-8184-47cbc6766145
          access_level_remote_id: write
      properties:
        resources:
          items:
            $ref: '#/components/schemas/ResourceWithAccessLevel'
          type: array
      type: object
      required:
      - resources
    OnCallScheduleList:
      example:
        on_call_schedules:
        - on_call_schedule_id: 50d5e9f6-f23f-4d5a-ae91-b2640cf3975e
          third_party_provider: PAGER_DUTY
          remote_id: P7OWH2R
          name: Customer Support On-Call
        - on_call_schedule_id: 4d61592c-ed61-4b13-8f22-2fac1c49f574
          third_party_provider: OPSGENIE
          remote_id: 72a8cb04-9e25-465d-a932-992f72077c61
          name: Opal Backend On-Call
      properties:
        on_call_schedules:
          items:
            $ref: '#/components/schemas/OnCallSchedule'
          type: array
      type: object
      required:
      - on_call_schedules
    GroupUser:
      description: '# Group Access User Object

        ### Description

        The `GroupAccessUser` object is used to represent a user with access to a group.


        ### Usage Example

        Fetch from the `LIST GroupUsers` endpoint.'
      example:
        full_name: Jake Barnes
        user_id: 29827fb8-f2dd-4e80-9576-28e31e9934ac
        group_id: 1b978423-db0a-4037-a4cf-f79c60cb67b3
        expiration_date: 2022-01-23 04:56:07+00:00
        email: jake@company.dev
      properties:
        group_id:
          description: The ID of the group.
          example: 1b978423-db0a-4037-a4cf-f79c60cb67b3
          format: uuid
          type: string
        group_name:
          description: The name of the group.
          example: API Group
          type: string
        description:
          description: The description of the group.
          example: Group required to request API's
          type: string
        user_id:
          description: The ID of the user.
          example: 29827fb8-f2dd-4e80-9576-28e31e9934ac
          format: uuid
          type: string
        access_level:
          $ref: '#/components/schemas/GroupAccessLevel'
          nullable: true
        full_name:
          description: The user's full name.
          example: Jake Barnes
          type: string
        email:
          description: The user's email.
          example: jake@company.dev
          type: string
        expiration_date:
          description: The day and time the user's access will expire.
          example: 2022-01-23 04:56:07+00:00
          format: date-time
          nullable: true
          type: string
        propagation_status:
          $ref: '#/components/schemas/PropagationStatus'
      required:
      - email
      - full_name
      - group_id
      - user_id
      - group_name
      - description
      type: object
    GroupResourceList:
      example:
        group_resources:
        - group_id: 7870617d-e72a-47f5-a84c-693817ab4567
          resource_id: 1520617d-e72a-47f5-a84c-693817ab48ad2
          access_level_remote_id: ''
        - group_id: 50333e67-73ce-47ab-b049-d8abcd45f7a1
          resource_id: 6f99639b-7928-4043-8184-47cbc6766145
          access_level_remote_id: write
      properties:
        group_resources:
          items:
            $ref: '#/components/schemas/GroupResource'
          type: array
      type: object
      required:
      - group_resources
    GroupContainingGroup:
      description: '# GroupContainingGroup Object

        ### Description

        The `GroupContainingGroup` object is used to represent a relationship between a group and a group.'
      example:
        containing_group_id: f454d283-ca87-4a8a-bdbb-df212eca5353
      properties:
        containing_group_id:
          description: The groupID of the containing group.
          example: f454d283-ca87-4a8a-bdbb-df212eca5353
          format: uuid
          type: string
        duration_minutes:
          description: The updated duration for which the group can be accessed (in minutes). Use 0 for indefinite.
          type: integer
          maximum: 525960
          example: 120
        access_level_remote_id:
          description: The updated remote ID of the access level granted to this group.
          type: string
          example: arn:aws:iam::590304332660:role/ReadOnlyAccess
      required:
      - containing_group_id
      type: object
    MessageChannelProviderEnum:
      description: The third party provider of the message channel.
      enum:
      - SLACK
      example: SLACK
      type: string
    ReviewerIDList:
      description: A list of reviewer IDs.
      example:
        reviewer_ids:
        - 7870617d-e72a-47f5-a84c-693817ab4567
        - 1520617d-e72a-47f5-a84c-693817ab48ad2
      properties:
        reviewer_ids:
          items:
            type: string
            format: uuid
          type: array
      type: object
      required:
      - reviewer_ids
    OnCallScheduleIDList:
      description: A list of on call schedule Opal UUIDs. To get the matching remote IDs, use the /on-call-schedules endpoints.
      example:
        on_call_schedule_ids:
        - 9546209c-42c2-4801-96d7-9ec42df0f59c
        - bb0197c0-5ea5-45d9-b3b7-b6c439be6435
      properties:
        on_call_schedule_ids:
          items:
            type: string
            format: uuid
          type: array
      type: object
      required:
      - on_call_schedule_ids
    GroupRemoteInfo:
      description: Information that defines the remote group. This replaces the deprecated remote_id and metadata fields. If remote_info is provided, a group will be imported into Opal. For group types that support group creation through Opal, a new group will be created if remote_info is not provided.
      properties:
        active_directory_group:
          description: Remote info for Active Directory group.
          properties:
            group_id:
              description: The id of the Google group.
              example: 01fa7402-01d8-103b-8deb-5f3a0ab7884
              type: string
          type: object
          required:
          - group_id
        tailscale_group:
          description: Remote info for Tailscale group.
          properties:
            group_id:
              description: The id of the Tailscale group.
              example: 898931321
              type: string
          type: object
          required:
          - group_id
        twingate_group:
          description: Remote info for Twingate group.
          properties:
            group_id:
              description: The id of the Twingate group.
              example: R3JvdXA6MTIzNA==
              type: string
          type: object
          required:
          - group_id
        twingate_group_synced:
          description: Remote info for Twingate synced group.
          properties:
            group_id:
              description: The id of the Twingate synced group.
              example: R3JvdXA6MTIzNA==
              type: string
          type: object
          required:
          - group_id
        aws_sso_group:
          description: Remote info for AWS SSO group.
          properties:
            group_id:
              description: The id of the AWS SSO group.
              example: 898931321
              type: string
          type: object
          required:
          - group_id
        databricks_account_group:
          description: Remote info for Databricks account group.
          properties:
            group_id:
              description: The id of the Databricks account group.
              example: 898931321
              type: string
          type: object
          required:
          - group_id
        connector_group:
          description: Remote info for Connector group.
          properties:
            group_id:
              description: The id of the Connector group.
              example: 898931321
              type: string
          type: object
          required:
          - group_id
        github_team:
          description: Remote info for GitHub team.
          properties:
            team_id:
              deprecated: true
              description: The id of the GitHub team.
              example: 898931321
              type: string
            team_slug:
              description: The slug of the GitHub team.
              example: opal-security
              type: string
            org_name:
              description: GitHub team's org name, required only for Enterprise
              type: string
          type: object
          required:
          - team_slug
        github_enterprise_team:
          description: Remote info for GitHub Enterprise team.
          properties:
            team_slug:
              description: The slug of the GitHub Enterprise team.
              example: opal-security
              type: string
          type: object
          required:
          - team_slug
        gitlab_group:
          description: Remote info for Gitlab group.
          properties:
            group_id:
              description: The id of the Gitlab group.
              example: 898931321
              type: string
          type: object
          required:
          - group_id
        google_group:
          description: Remote info for Google group.
          properties:
            group_id:
              description: The id of the Google group.
              example: 1y6w882181n7sg
              type: string
          type: object
          required:
          - group_id
        ldap_group:
          description: Remote info for LDAP group.
          properties:
            group_id:
              description: The id of the LDAP group.
              example: 01fa7402-01d8-103b-8deb-5f3a0ab7884
              type: string
          type: object
          required:
          - group_id
        okta_group:
          description: Remote info for Okta Directory group.
          properties:
            group_id:
              description: The id of the Okta Directory group.
              example: 00gjs33pe8rtmRrp3rd6
              type: string
          type: object
          required:
          - group_id
        duo_group:
          description: Remote info for Duo Security group.
          properties:
            group_id:
              description: The id of the Duo Security group.
              example: DSRD8W89B9DNDBY4RHAC
              type: string
          type: object
          required:
          - group_id
        azure_ad_security_group:
          description: Remote info for Microsoft Entra ID Security group.
          properties:
            group_id:
              description: The id of the Microsoft Entra ID Security group.
              example: 01fa7402-01d8-103b-8deb-5f3a0ab7884
              type: string
          type: object
          required:
          - group_id
        azure_ad_microsoft_365_group:
          description: Remote info for Microsoft Entra ID Microsoft 365 group.
          properties:
            group_id:
              description: The id of the Microsoft Entra ID Microsoft 365 group.
              example: 01fa7402-01d8-103b-8deb-5f3a0ab7884
              type: string
          type: object
          required:
          - group_id
        snowflake_role:
          description: Remote info for Snowflake role.
          properties:
            role_id:
              description: The id of the Snowflake role.
              example: 01fa7402-01d8-103b-8deb-5f3a0ab7884
              type: string
          type: object
          required:
          - role_id
        okta_group_rule:
          description: Remote info for Okta Directory group rule.
          properties:
            rule_id:
              description: The id of the Okta group rule.
              example: 0pr3f7zMZZHPgUoWO0g4
              type: string
          type: object
          required:
          - rule_id
        workday_user_security_group:
          description: Remote info for Workday User Security group.
          properties:
            group_id:
              description: The id of the Workday User Security group.
              example: 123abc456def
              type: string
          type: object
          required:
          - group_id
        pagerduty_on_call_schedule:
          description: Remote info for PagerDuty on-call schedule group.
          properties:
            schedule_id:
              description: The id of the PagerDuty on-call schedule.
              example: PNZNINN
              type: string
          type: object
          required:
          - schedule_id
        incidentio_on_call_schedule:
          description: Remote info for Incident.io on-call schedule group.
          properties:
            schedule_id:
              description: The id of the Incident.io on-call schedule.
              example: 01HZ8XQM9ZQX8RKMZQ8ZQX8RK
              type: string
          type: object
          required:
          - schedule_id
        rootly_on_call_schedule:
          description: Remote info for Rootly on-call schedule group.
          properties:
            schedule_id:
              description: The id of the Rootly on-call schedule.
              example: 01HZ8XQM9ZQX8RKMZQ8ZQX8RK
              type: string
          type: object
          required:
          - schedule_id
        devin_group:
          description: Remote info for Devin group.
          properties:
            group_name:
              description: The name of the Devin group.
              example: devin-group-01
              type: string
          type: object
          required:
          - group_name
        clickhouse_role:
          description: Remote info for ClickHouse role.
          properties:
            role_id:
              description: The name of the ClickHouse role.
              example: my_clickhouse_role
              type: string
          type: object
          required:
          - role_id
        grafana_team:
          description: Remote info for Grafana team.
          properties:
            team_id:
              description: The ID of the team.
              example: 2323
              type: string
          type: object
          required:
          - team_id
        zendesk_group:
          description: Remote info for Zendesk group.
          properties:
            group_id:
              description: The ID of the Zendesk group.
              example: '12345'
              type: string
          type: object
          required:
          - group_id
        slack_user_group:
          description: Remote info for Slack user group.
          properties:
            group_id:
              description: The id of the Slack user group.
              example: S0614TZR7
              type: string
          type: object
          required:
          - group_id
        zendesk_organization:
          description: Remote info for Zendesk organization.
          properties:
            organization_id:
              description: The ID of the Zendesk organization.
              example: '67890'
              type: string
          type: object
          required:
          - organization_id
        hubspot_team:
          description: Remote info for HubSpot team.
          properties:
            team_id:
              description: The ID of the HubSpot team.
              example: '12345'
              type: string
          type: object
          required:
          - team_id
        tableau_group:
          description: Remote info for Tableau group.
          properties:
            group_id:
              description: The ID of the Tableau group.
              example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
              type: string
          type: object
          required:
          - group_id
      type: object
    GroupResource:
      description: '# GroupResource Object

        ### Description

        The `GroupResource` object is used to represent a relationship between a group and a resource.'
      example:
        group_id: f454d283-ca87-4a8a-bdbb-df212eca5353
        resource_id: b5a5ca27-0ea3-4d86-9199-2126d57d1fbd
        access_level_remote_id: write
      properties:
        group_id:
          description: The ID of the group.
          example: f454d283-ca87-4a87-bdbb-df212eca5353
          format: uuid
          type: string
        resource_id:
          description: The ID of the resource.
          example: b5a5ca27-0ea3-4d86-9199-2126d57d1fbd
          format: uuid
          type: string
        group_name:
          description: The name of the group
          example: API Group
          type: string
        resource_name:
          description: The name of the resource
          example: API Group
          type: string
        expiration_date:
          description: The day and time the group's access will expire.
          example: 2022-01-23 04:56:07+00:00
          format: date-time
          nullable: true
          type: string
        access_level:
          $ref: '#/components/schemas/ResourceAccessLevel'
      required:
      - group_id
      - resource_id
      - access_level
      type: object
    MessageChannelList:
      example:
        channels:
        - message_channel_id: 7870617d-e72a-47f5-a84c-693817ab4567
          third_party_provider: SLACK
          remote_id: C03FJR97276
          name: api-team-audit-channel
          is_private: false
        - message_channel_id: 1520617d-e72a-47f5-a84c-693817ab48ad2
          third_party_provider: SLACK
          remote_id: A4FJR97365D
          name: api-team-monitor-channel
          is_private: false
      properties:
        channels:
          items:
            $ref: '#/components/schemas/MessageChannel'
          type: array
      type: object
      required:
      - channels
    Condition:
      description: '# Condition Object

        ### Description

        The `Condition` object is used to represent a condition.


        ### Usage Example

        Used to match request configurations to users in `RequestConfiguration`'
      example:
        group_ids:
        - 1b978423-db0a-4037-a4cf-f79c60cb67b3
      type: object
      properties:
        group_ids:
          description: The list of group IDs to match.
          example:
          - 1b978423-db0a-4037-a4cf-f79c60cb67b3
          items:
            type: string
            format: uuid
          type: array
        role_remote_ids:
          description: The list of role remote IDs to match.
          example:
          - arn:aws:iam::590304332660:role/AdministratorAccess
          type: array
          items:
            type: string
    ResourceWithAccessLevel:
      description: Information about a resource and corresponding access level
      example:
        resource_id: b5a5ca27-0ea3-4d86-9199-2126d57d1fbd
        access_level_remote_id: write
      properties:
        resource_id:
          description: The ID of the resource.
          example: b5a5ca27-0ea3-4d86-9199-2126d57d1fbd
          format: uuid
          type: string
        access_level_remote_id:
          description: The ID of the resource.
          example: write
          type: string
      required:
      - resource_id
      type: object
    OnCallSchedule:
      description: '# OnCallSchedule Object

        ### Description

        The `OnCallSchedule` object is used to represent an on call schedule.


        ### Usage Example

        Update a groups on call schedule from the `UPDATE Groups` endpoint.'
      example:
        on_call_schedule_id: 50d5e9f6-f23f-4d5a-ae91-b2640cf3975e
        third_party_provider: PAGER_DUTY
        remote_id: P7OWH2R
        name: Customer Support On-Call
      properties:
        on_call_schedule_id:
          description: The ID of the on-call schedule.
          example: 50d5e9f6-f23f-4d5a-ae91-b2640cf3975e
          format: uuid
          type: string
        third_party_provider:
          $ref: '#/components/schemas/OnCallScheduleProviderEnum'
        remote_id:
          description: The remote ID of the on call schedule
          example: P7OWH2R
          type: string
        name:
          description: The name of the on call schedule.
          example: Customer Support On-Call
          type: string
      type: object
      required:
      - message_channel_id
    PropagationStatusEnum:
      description: The status of whether the user has been synced to the group or resource in the remote system.
      enum:
      - SUCCESS
      - ERR_REMOTE_INTERNAL_ERROR
      - ERR_REMOTE_USER_NOT_FOUND
      - ERR_REMOTE_USER_NOT_LINKED
      - ERR_REMOTE_RESOURCE_NOT_FOUND
      - ERR_REMOTE_THROTTLE
      - ERR_NOT_AUTHORIZED_TO_QUERY_RESOURCE
      - ERR_REMOTE_PROVISIONING_VIA_IDP_FAILED
      - ERR_IDP_EMAIL_UPDATE_CONFLICT
      - ERR_TIMEOUT
      - ERR_UNKNOWN
      - ERR_OPAL_INTERNAL_ERROR
      - ERR_ORG_READ_ONLY
      - ERR_OPERATION_UNSUPPORTED
      - PENDING
      - PENDING_MANUAL_PROPAGATION
      - PENDING_TICKET_CREATION
      - ERR_TICKET_CREATION_SKIPPED
      - ERR_DRY_RUN_MODE_ENABLED
      - ERR_HR_IDP_PROVIDER_NOT_LINKED
      - ERR_REMOTE_UNRECOVERABLE_ERROR
      - ERR_REMOTE_TICKET_NOT_FOUND
      example:
      - SUCCESS
      type: string
    UpdateGroupInfo:
      description: '# UpdateGroupInfo Object

        ### Description

        The `UpdateGroupInfo` object is used as an input to the UpdateGroup API.'
      example:
        group_id: f454d283-ca87-4a87-bdbb-df212eca5353
        description: This group represents Active Directory group "Payments Production Admin". We use this AD group to facilitate staging deployments and qualifying new releases.
        name: api-group
        admin_owner_id: 7c86c85d-0651-43e2-a748-d69d658418e8
        max_duration: 120
        require_manager_approval: false
        require_support_ticket: false
      properties:
        group_id:
          description: The ID of the group.
          example: f454d283-ca87-4a87-bdbb-df212eca5353
          format: uuid
          type: string
        name:
          description: The name of the group.
          example: api-group
          type: string
        description:
          description: A description of the group.
          example: This group represents Active Directory group "Payments Production Admin". We use this AD group to facilitate staging deployments and qualifying new releases.
          type: string
        admin_owner_id:
          description: The ID of the owner of the group.
          example: 7c86c85d-0651-43e2-a748-d69d658418e8
          format: uuid
          type: string
        max_duration:
          description: The maximum duration for which the group can be requested (in minutes). Use -1 to set to indefinite. Deprecated in favor of `request_configurations`.
          type: integer
          example: 120
          deprecated: true
        recommended_duration:
          description: The recommended duration for which the group should be requested (in minutes). Will be the default value in a request. Use -1 to set to indefinite and 0 to unset. Deprecated in favor of `request_configurations`.
          type: integer
          example: 120
          deprecated: true
        require_manager_approval:
          description: A bool representing whether or not access requests to the group require manager approval. Deprecated in favor of `request_configurations`.
          example: false
          type: boolean
          deprecated: true
        require_support_ticket:
          description: A bool representing whether or not access requests to the group require an access ticket. Deprecated in favor of `request_configurations`.
          example: false
          type: boolean
          deprecated: true
        folder_id:
          description: The ID of the folder that the group is located in.
          example: e27cb7b0-98e2-4555-9916-9e6d8ca6b079
          format: uuid
          type: string
          deprecated: true
        require_mfa_to_approve:
          description: A bool representing whether or not to require MFA for reviewers to approve requests for this group.
          example: false
          type: boolean
        require_mfa_to_request:
          description: A bool representing whether or not to require MFA for requesting access to this group. Deprecated in favor of `request_configurations`.
          example: false
          type: boolean
          deprecated: true
        auto_approval:
          description: A bool representing whether or not to automatically approve requests to this group. Deprecated in favor of `request_configurations`.
          example: false
          type: boolean
          deprecated: true
        configuration_template_id:
          description: The ID of the associated configuration template.
          example: 06851574-e50d-40ca-8c78-f72ae6ab4304
          format: uuid
          type: string
        request_template_id:
          description: The ID of the associated request template. Deprecated in favor of `request_configurations`.
          example: 06851574-e50d-40ca-8c78-f72ae6ab4304
          format: uuid
          type: string
          deprecated: true
        is_requestable:
          description: A bool representing whether or not to allow access requests to this group. Deprecated in favor of `request_configurations`.
          example: false
          type: boolean
          deprecated: true
        group_leader_user_ids:
          description: A list of User IDs for the group leaders of the group
          items:
            type: string
            format: uuid
          type: array
        extensions_duration_in_minutes:
          description: The duration for which access can be extended (in minutes). Deprecated, set the extension duration in the request_configuration you want it to apply to.
          type: integer
          example: 120
          deprecated: true
        request_configurations:
          type: array
          items:
            $ref: '#/components/schemas/RequestConfiguration'
          description: The request configuration list of the configuration template. If not provided, the default request configuration will be used.
        request_configuration_list:
          description: The request configuration list of the configuration template. If not provided, the default request configuration will be used. Deprecated in favor of `request_configurations`.
          $ref: '#/components/schemas/CreateRequestConfigurationInfoList'
          deprecated: true
          example:
            request_configurations:
            - request_configuration_id: 7c86c85d-0651-43e2-a748-d69d658418e8
              organization_id: w86c85d-0651-43e2-a748-d69d658418e8
              condition: null
              allow_requests: true
              auto_approval: false
              require_mfa_to_request: false
              max_duration_minutes: 120
              recommended_duration_minutes: 120
              require_support_ticket: false
              reviewer_stages:
              - reviewer_stage_id: 7c86c85d-0651-43e2-a748-d69d658418e8
                owner_ids:
                - 37cb7e41-12ba-46da-92ff-030abe0450b1
                - 37cb7e41-12ba-46da-92ff-030abe0450b2
                stage: 1
              priority: 0
            - request_configuration_id: 7c86c85d-0651-43e2-a748-d69d658418e9
              organization_id: w86c85d-0651-43e2-a748-d69d658418e8
              condition:
                group_id: 1b978423-db0a-4037-a4cf-f79c60cb67b4
              allow_requests: true
              auto_approval: false
              require_mfa_to_request: false
              max_duration_minutes: 120
              recommended_duration_minutes: 120
              require_support_ticket: false
              reviewer_stages:
              - reviewer_stage_id: 7c86c85d-0651-43e2-a748-d69d658418e8
                owner_ids:
                - 37cb7e41-12ba-46da-92ff-030abe0450b1
                - 37cb7e41-12ba-46da-92ff-030abe0450b2
                stage: 1
              priority: 1
        custom_request_notification:
          description: Custom request notification sent to the requester when the request is approved.
          type: string
          maxLength: 800
          nullable: true
          example: Check your email to register your account.
        risk_sensitivity_override:
          allOf:
          - $ref: '#/components/schemas/RiskSensitivityEnum'
      required:
      - group_id
      type: object
    ReviewerStage:
      description: A reviewer stage.
      example:
        owner_ids:
        - 7870617d-e72a-47f5-a84c-693817ab4567
        - 1520617d-e72a-47f5-a84c-693817ab48ad2
        service_user_ids:
        - 7870617d-e72a-47f5-a84c-693817ab4568
      properties:
        require_manager_approval:
          description: Whether this reviewer stage should require manager approval.
          example: false
          type: boolean
        require_admin_approval:
          description: Whether this reviewer stage should require admin approval.
          example: false
          type: boolean
        operator:
          description: The operator of the reviewer stage. Admin and manager approval are also treated as reviewers.
          enum:
          - AND
          - OR
          example: AND
          type: string
        owner_ids:
          description: The IDs of owners assigned as reviewers for this stage.
          items:
            type: string
            format: uuid
          type: array
        service_user_ids:
          description: The IDs of service users assigned as reviewers for this stage.
          items:
            type: string
            format: uuid
          type: array
      type: object
      required:
      - operator
      - require_manager_approval
      - owner_ids
      - stage
    ReviewerStageList:
      properties:
        stages:
          description: A list of reviewer stages.
          items:
            $ref: '#/components/schemas/ReviewerStage'
          type: array
      type: object
      required:
      - stages
    GroupContainingGroupList:
      example:
        containing_groups:
        - containing_group_id: 7870617d-e72a-47f5-a84c-693817ab4567
        - containing_group_id: 50333e67-73ce-47ab-b049-d8abcd45f7a1
      properties:
        containing_groups:
          items:
            $ref: '#/components/schemas/GroupContainingGroup'
          type: array
      type: object
      required:
      - containing_groups
    CreateRequestConfigurationInfoList:
      description: '# CreateRequestConfigurationInfoList Object

        ### Description

        The `CreateRequestConfigurationInfoList` object is used as an input to the CreateRequestConfigurations API.


        ### Formatting Requirements

        The `CreateRequestConfigurationInfoList` object must contain a list of `RequestConfiguration` objects.

        Exactly one default `RequestConfiguration` must be provided.  A default `RequestConfiguration` is one with a `condition` of `null`

        and a `priority` of `0`.  The default `RequestConfiguration` will be used when no other `RequestConfiguration` matches the request.


        Only one `RequestConfiguration` may be provided for each priority, and the priorities must be contiguous.  For example, if there are

        two `RequestConfigurations` with priorities 0 and 2, there must be a `RequestConfiguration` with priority 1.


        To use the `condition` field, the `condition` must be a valid JSON object.


        The `condition` must be a JSON object with the key `group_ids` (more options may be added in the future), whose value is a list of

        group IDs.

        The `condition` will match if the user requesting access is a member of any of the groups in the list. Currently, we only support

        using a single group as a condition.'
      example:
        request_configurations:
        - request_configuration_id: 7c86c85d-0651-43e2-a748-d69d658418e8
          organization_id: w86c85d-0651-43e2-a748-d69d658418e8
          condition: null
          allow_requests: true
          auto_approval: false
          require_mfa_to_request: false
          max_duration_minutes: 120
          recommended_duration_minutes: 120
          require_support_ticket: false
          reviewer_stages:
          - reviewer_stage_id: 7c86c85d-0651-43e2-a748-d69d658418e8
            owner_ids:
            - 37cb7e41-12ba-46da-92ff-030abe0450b1
            - 37cb7e41-12ba-46da-92ff-030abe0450b2
            stage: 1
          priority: 0
        - request_configuration_id: 7c86c85d-0651-43e2-a748-d69d658418e9
          organization_id: w86c85d-0651-43e2-a748-d69d658418e8
          condition:
            group_id: 1b978423-db0a-4037-a4cf-f79c60cb67b4
          allow_requests: true
          auto_approval: false
          require_mfa_to_request: false
          max_duration_minutes: 120
          recommended_duration_minutes: 120
          require_support_ticket: false
          reviewer_stages:
          - reviewer_stage_id: 7c86c85d-0651-43e2-a748-d69d658418e8
            owner_ids:
            - 37cb7e41-12ba-46da-92ff-030abe0450b1
            - 37cb7e41-12ba-46da-92ff-030abe0450b2
            stage: 1
          priority: 1
      properties:
        request_configurations:
          description: A list of request configurations to create.
          items:
            $ref: '#/components/schemas/RequestConfiguration'
          type: array
      type: object
      required:
      - request_configurations
    GroupTypeEnum:
      description: The type of the group.
      enum:
      - ACTIVE_DIRECTORY_GROUP
      - AWS_SSO_GROUP
      - DATABRICKS_ACCOUNT_GROUP
      - DUO_GROUP
      - GIT_HUB_TEAM
      - GIT_LAB_GROUP
      - GOOGLE_GROUPS_GROUP
      - GOOGLE_GROUPS_GKE_GROUP
      - LDAP_GROUP
      - OKTA_GROUP
      - OKTA_GROUP_RULE
      - TAILSCALE_GROUP
      - OPAL_GROUP
      - OPAL_ACCESS_RULE
      - AZURE_AD_SECURITY_GROUP
      - AZURE_AD_MICROSOFT_365_GROUP
      - CONNECTOR_GROUP
      - SNOWFLAKE_ROLE
      - WORKDAY_USER_SECURITY_GROUP
      - PAGERDUTY_ON_CALL_SCHEDULE
      - INCIDENTIO_ON_CALL_SCHEDULE
      - ROOTLY_ON_CALL_SCHEDULE
      - DEVIN_GROUP
      - GIT_HUB_ENTERPRISE_TEAM
      - GRAFANA_TEAM
      - CLICKHOUSE_ROLE
      - SLACK_USER_GROUP
      - TWINGATE_GROUP
      - TWINGATE_GROUP_SYNCED
      - ZENDESK_GROUP
      - ZENDESK_ORGANIZATION
      - HUBSPOT_TEAM
      - TABLEAU_GROUP
      example: OPAL_GROUP
      type: string
    PaginatedGroupsList:
      example:
        next: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        previous: cj1sZXdwd2VycWVtY29zZnNkc2NzUWxNMEUxTXk0ME16UXpNallsTWtJ
        results:
        - group_id: f454d283-ca87-4a8a-bdbb-df212eca5353
          app_id: b5a5ca27-0ea3-4d86-9199-2126d57d1fbd
          name: Payments Production Admin
          description: This group represents Active Directory group "Payments Production Admin". We use this AD group to facilitate staging deployments and qualifying new releases.
          admin_owner_id: 7c86c85d-0651-43e2-a748-d69d658418e8
          group_leader_user_ids:
          - 7c86c85d-0651-43e2-a748-d69d658418e8
          remote_id: 037m2jsg218b2wb
          remote_name: Finance Team
          group_type: ACTIVE_DIRECTORY_GROUP
          max_duration: 120
          recommended_duration: 60
          extensions_duration_in_minutes: 60
          require_manager_approval: false
          require_support_ticket: false
          require_mfa_to_approve: false
          require_mfa_to_request: false
          auto_approval: false
          is_requestable: true
        - group_id: 99d0b81d-14be-4cf6-bd27-348b4af1d11b
          app_id: a7c3e291-1234-4abc-9def-1234567890ab
          name: Integrations On-Call
          description: Manages the Integrations Team on-call privileged resources. This group is automatically synced with the on-call rotation defined in PagerDuty.
          admin_owner_id: 4220bc12-ab8a-4b5d-be7b-f6bbcf9159f3
          group_leader_user_ids: []
          remote_id: pagerduty-schedule:P123XYZ
          remote_name: Integrations On-Call
          group_type: PAGERDUTY_ON_CALL_SCHEDULE
          max_duration: 360
          recommended_duration: 120
          extensions_duration_in_minutes: 0
          require_manager_approval: false
          require_support_ticket: true
          require_mfa_to_approve: false
          require_mfa_to_request: false
          auto_approval: false
          is_requestable: true
      properties:
        next:
          description: The cursor with which to continue pagination if additional result pages exist.
          example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
          nullable: true
          type: string
        previous:
          description: The cursor used to obtain the current result page.
          example: cj1sZXdwd2VycWVtY29zZnNkc2NzUWxNMEUxTXk0ME16UXpNallsTWtJ
          nullable: true
          type: string
        results:
          items:
            $ref: '#/components/schemas/Group'
          type: array
      type: object
      required:
      - results
    RiskSensitivityEnum:
      type: string
      description: Indicates the level of potential impact misuse or unauthorized access may incur.
      enum:
      - UNKNOWN
      - CRITICAL
      - HIGH
      - MEDIUM
      - LOW
      - NONE
    MessageChannel:
      description: '# MessageChannel Object

        ### Description

        The `MessageChannel` object is used to represent a message channel.


        ### Usage Example

        Update a groups message channel from the `UPDATE Groups` endpoint.'
      example:
        message_channel_id: 6670617d-e72a-47f5-a84c-693817ab4860
        third_party_provider: SLACK
        remote_id: C03FJR97276
        name: api-team-audit-channel
        is_private: false
      properties:
        message_channel_id:
          description: The ID of the message channel.
          example: 6670617d-e72a-47f5-a84c-693817ab4860
          format: uuid
          type: string
        third_party_provider:
          $ref: '#/components/schemas/MessageChannelProviderEnum'
        remote_id:
          description: The remote ID of the message channel
          example: C03FJR97276
          type: string
        name:
          description: The name of the message channel.
          example: api-team-audit-channel
          type: string
        is_private:
          description: A bool representing whether or not the message channel is private.
          example: false
          type: boolean
      type: object
      required:
      - message_channel_id
    TagsList:
      example:
        results:
        - tag_id: f290a738-5f9f-43c2-ad67-fa31ff0eb946
          created_at: 2022-01-23 04:56:07+00:00
          updated_at: 2022-02-23 01:34:07+00:00
          user_creator_id: d4a7d928-783e-4599-8ec6-088d635a5bcc
          admin_owner_id: bfb518b1-3f5b-4e3b-8eb8-3b3fabd4ea2b
          key: database-name
          value: redis_db
        - tag_id: 92f0a738-5f9f-43c2-ad67-fa31ff0eb052
          created_at: 2022-03-23 04:56:07+00:00
          updated_at: 2022-04-23 01:34:07+00:00
          user_creator_id: a4d7d928-783e-4599-8ec6-088d635af4ac
          admin_owner_id: gtg418b1-3f5b-4e3b-8eb8-3b3fabd4eaa1
          key: database-type
          value: sql
      properties:
        tags:
          items:
            $ref: '#/components/schemas/Tag'
          type: array
      required:
      - tags
      type: object
    PropagationStatus:
      description: The state of whether the push action was propagated to the remote system. If this is null, the access was synced from the remote system.
      properties:
        status:
          $ref: '#/components/schemas/PropagationStatusEnum'
      required:
      - status
  securitySchemes:
    BearerAuth:
      scheme: bearer
      type: http
